
h3 {
    /*font-family: "open_sansregular";*/
}
a:hover{
    text-decoration: none;
}
body {
    /*position: relative;
min-height: 100%;
font-family: 'DIN Medium';*/
    /*font-family: 'DINLight';*/
    height: 100%;
    min-height: 100vh;
    position: relative;
}

@font-face {
    font-family: 'architects_daughterregular';
    src: url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff2') format('woff2'), url('../../../assets/fonts/architectsdaughter/architectsdaughter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-Medium';
    src: url('../../../assets/fonts/din/DIN-Medium.woff') format('woff'), url('../../../assets/fonts/din/DIN-Medium.ttf') format('truetype'), url('../../../assets/fonts/din/DIN-Medium.svg#DIN-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINRegular';
    src: url('../../../assets/fonts/din/DINRegular.woff') format('woff');
}

@font-face {
    font-family: 'DINLight';
    src: url('../../../assets/fonts/din/DINLight.woff') format('woff');
}

@font-face {
    font-family: 'ArchitectsDaughter';
    src: url('../../../assets/fonts/ArchitectsDaughter.woff') format('woff');
}


.border0 {
border: none;
}
.fs-m0 {
margin: 0;
}
.fs-ml5 {
margin-left: 5px;
}
.fs-mt40{
    margin-top: 40px;
}
.fs-mt50 {
margin-top: 50px;
}
.fs-mt80{
    margin-top: 80px;
}
.fs-mt30 {
margin-top: 30px;
}
.fs-mtb10 {
margin-top: 10px;
margin-bottom: 10px;
}
.fs-mtb20 {
margin-top: 20px;
margin-bottom: 20px;
}
.fs-mb10 {
margin-bottom: 10px;
}
.fs-mb20 {
margin-bottom: 20px;
}
.fs-mb50 {
margin-bottom: 50px;
}
.fs-mt5 {
margin-top: 5px;
}
.fs-mt10 {
margin-top: 10px;
}
.fs-mt15 {
margin-top: 15px;
}
.fs-mt20 {
margin-top: 20px;
}
.fs-pl20 {
padding-left: 20px;
}
.fs-ptb20 {
padding-top: 20px;
padding-bottom: 20px;
}
.fs-pr20 {
padding-right: 20px;
}
.fs-plr10 {
padding-left: 10px;
padding-right: 10px;
}
.fs-pl0 {
padding-left: 0;
}
.fs-pr0 {
padding-right: 0;
}
.fs-plr0 {
padding-left: 0;
padding-right: 0;
}
.fs-pr50 {
padding-right: 50px;
}
.fs-bg {
background-color: #fafafa;
}
.bg-white {
background-color: #fff;
}
.fs-controls {
height: 140px;
position: relative;
}
.fs-Carousel1 .fs-controls {
height: 125px;
position: relative;
}
.fs-Carousel1 .fs-controls .glyphicon-menu-left {
left: -14px;
cursor: pointer;
position: absolute;
top: 40%;
}
.fs-Carousel1 .fs-controls .glyphicon-menu-right {
position: absolute;
cursor: pointer;
right: -8px;
top: 40%;
}

/**********************************  Responsive  **********************************/

@media only screen and (min-width:300px) and (max-width:500px) {
.fs-pos-rel p img {
width: 72px;
}
.fs-pos-rel p {
left: 38% !important;
}
}

@media only screen and (max-width:320px) {
.fs-celebStore button {
/*width: 98%;*/
margin-right: 2%;
}
}

@media only screen and (min-width:480px) and (max-width:480px) {
.fs-pos-rel p {
left: 40% !important;
}
.fs-pos-rel p img {
width: 86px;
}
}

@media only screen and (min-width:360px) and (max-width:360px) {
.fs-pos-rel p {
left: 36.5% !important;
}
.fs-pos-rel p img {
width: 86px;
}
}

@media only screen and (max-width:345px) {
.fs-title {
font-size: 12px;
}
.fs-asso-hash span {
font-size: 12px;
}
}

@media only screen and (max-width:480px) {
.fs-pr0 {
padding-right: 0;
}
.fs-csplr0 {
padding-left: 0;
padding-right: 0;
}
}

@media only screen and (max-width:767px) {
.fs-celeb-profile .text-right {
text-align: left;
}
.fs-celeb-profile {
margin-bottom: 30px;
}
.fs-modal-celebdialog h3 {
margin-top: 20px;
}
.fs-accessories {
margin-bottom: 15px;
margin-right: 0;
width: 100%;
}
.fs-everything {
margin-top: 0;
margin-left: 1%;
width: 49%;
}
.fs-shoe {
margin-right: 1%;
width: 49%;
}
.padding-r0 {
padding-right: 0;
}
.fs-mstore {
margin-top: 0;
}
.fs-categories {
margin: 10px auto 0;
}
.fs-men-header {
height: auto;
}
.fs-men-header button {
height: auto;
line-height: 18px !important;
padding: 8px 15px 0;
}
.fs-men-header p {
font-size: 14px;
}
.fs-men-header p span {
float: none;
}
#fs-menu {
display: none;
float: left;
width: 100%;
margin: 0;
}
#fs-menu>.nav.navbar-nav {
margin: 0;
}
.block1 {
float: left;
padding: 9px 0;
font-family: "DINRegular";
margin-bottom: 0;
}
.block1 .glyphicon.glyphicon-menu-down {
left: 5px;
position: relative;
top: 3px;
}
.fs-header .container.padding0 .col-md-4.col-xs-5.col-sm-5 {
padding: 0;
}
.space {
padding-left: 0;
padding-right: 0;
}
.fs-pos-rel p {
bottom: 19%;
left: 42.5%;
}
.industrytypes p {
color: #222;
}
.industrytypes1 li a {
border: 1px solid #222;
color: #222;
}
.industrytypes1 li a:hover {
color: #fff;
}
.fs-csplr0 {
padding-right: 0;
padding-left: 0;
}
.fs-pl0.fs-pr0.fs-mtb10 {
padding-right: 0;
}
.gradient-clr {
height: auto;
padding-bottom: 0;
background: none;
}
.fs-celebtabs ul li a {
text-align: center;
}
.fs-celebPic {
width: 33.3333%;
height: 95px;
position: relative;
margin-top: 0;
}
.fs-celebPic img {
width: 50px;
height: 50px;
}
.fs-celebPic span {
margin: 0;
font-size: 9px;
}
.fs-celebDownloadapp p {
float: left !important;
width: 100%;
font-size: 10px;
margin-top: 70px;
}
.fs-celebDownloadapp img {
width: 80px;
margin-bottom: 3px;
}
.fs-celebStore .fs-men-header {
height: 180px;
}
.fs-celebDownloadapp p.pull-right {
margin-top: 70px;
}
.fs-menfashion .fs-mstore {
margin-top: 50px;
}
.fs-menfashion .fs-mstore .fs-celebDownloadapp {
padding-left: 10px;
}
.fs-menfashion .fs-mstore .fs-celebDownloadapp p {
margin-top: 0;
}
.fs-womenfashion .fs-mstore {
margin-top: 50px;
}
.fs-womenfashion .fs-mstore .fs-celebDownloadapp {
padding-left: 10px;
}
.fs-womenfashion .fs-mstore .fs-celebDownloadapp p {
margin-top: 0;
}
.fs-movieStore .fs-mstore {
margin-top: 50px;
}
.fs-movieStore .fs-mstore .fs-celebDownloadapp {
padding-left: 10px;
}
.fs-movieStore .fs-mstore .fs-celebDownloadapp p {
margin-top: 0;
}
.fs-celebStore .fs-mstore {
margin-top: 50px;
}
.fs-celebStore .fs-mstore .fs-celebDownloadapp {
padding-left: 10px;
}
.fs-celebStore .fs-mstore .fs-celebDownloadapp p {
margin-top: 0;
text-align: right;
}
.fs-shareinfo h3 {
font-size: 18px;
width: 60%;
left: 20%;
}
.fs-shareinfo>span {
width: 54%;
left: 23%;
}
.admin_login {
padding: 30px !important;
}
.fs-tollywoodtabs ul li {
margin-bottom: 10px;
}
}

@media only screen and (min-width:768px) and (max-width:768px) {
.fs-mstore {
margin-top: -25px;
}
.fs-shareinfo h3 {
width: 30%;
left: 35%;
}
.fs-shareinfo>span {
width: 20%;
left: 40%;
}
}

@media only screen and (min-width:800px) and (max-width:800px) {}

@media only screen and (max-width:991px) {
.fs-mpading0 {
padding-left: 0;
padding-right: 0;
}
.l-shareyourstyle img {
margin-right: 40px;
}
.l-menfashion img {
margin-left: 40px;
}
.fs-celebtabs ul li a {
font-size: 11px;
}
}

@media only screen and (min-width:768px) and (max-width:1199px) {
.fs-pos-rel p {
left: 38%;
}
.fs-pos-rel p img {
width: 73px;
}
.fs-mstore {
margin-top: -25px;
}
}

@media only screen and (max-width:1023px) {
.fs-men-header h3 {
font-size: 80px;
line-height: 150px;
letter-spacing: -5px;
}
.l-womenfashion,
.l-celebritystore,
.l-moviestore {
margin-bottom: 10px;
}
.industrytypes {
padding: 0;
}
}

@media only screen and (min-width:1024px) and (max-width:1024px) {
.fs-pos-rel p {
left: 38%;
}
.fs-pos-rel p img {
width: 86px !important;
}
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
.fs-men-header h3 {
font-size: 110px;
}
.fs-mstore {
margin-top: -70px;
}
.fs-celebtabs ul li {
width: 20%;
}
}

@media only screen and (min-width:375px) and (max-width:698px) {
.fs-obsessions .media-carousel .item span{ font-size: 12px; }
/*.media-carousel .item a{ height: 110px !important; }*/
.media-carousel .carousel-control.left,.media-carousel .carousel-control.right{margin-top: 40px !important;}
}
/** iphone 6 **/
@media only screen and (min-width:375px) and (max-width:375px){
/*.fs-style .carousel-inner{ min-height: auto !important; margin-bottom: 50px !important; }*/
.fs-shopByVideos{ min-height: auto !important; margin-bottom: 50px !important; }
.media-carousel .item a{ height: 100px; }
.media-carousel .carousel-control.left, .media-carousel .carousel-control.right{margin-top: 30px;}
.fs-style h3.fs-mt50{ margin-top: 0; }
.media-carousel .item a span.fs-stealStyle{ display: none !important; }
.fs-shopByVideos .row{ margin-left: 0; margin-right: 0; }
.fs-ShareUrStyle .item .col-md-4{ margin-left: 0 !important; }
.fs-ShareUrStyle .row{ margin-left: 0 !important; margin-right: 0 !important; }
.fs-videos .carousel-inner .item .col-md-4{ margin-left: 0 !important; }
.fs-videos .row{ margin-left: 0 !important; margin-right: 0 !important; }
}

/* carousel */

.media-carousel {
margin-bottom: 0;
padding: 0 0 0px;
}


/* Previous button  */

.media-carousel .carousel-control.left {
left: -12px;
opacity: 1;
background: #fff;
border: 1px solid #ddd;
color: #ccc;
height: 30px;
width: 20px;
margin-top: 110px;
text-shadow: none;
}


/* Next button  */

.media-carousel .carousel-control.right {
right: -12px !important;
opacity: 1;
background: #fff;
border: 1px solid #ddd;
text-shadow: none;
color: #ccc;
height: 30px;
width: 20px;
margin-top: 110px;
}


/* Changes the position of the indicators */

.media-carousel .carousel-indicators {
right: 50%;
top: auto;
bottom: 0px;
margin-right: -19px;
}


/* Changes the colour of the indicators */

.media-carousel .carousel-indicators li {
background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
background: #333333;
}

.media-carousel img {
max-height: 100%; cursor: pointer;
}

.media-carousel .item a {
align-items: center;
display: flex;
float: left;
/*height: 263px;*/
margin-bottom: 10px;
overflow: hidden;
position: relative;
width: 100%;
border-radius: 0;
padding: 0;
}

.media-carousel .item a span.fs-stealStyle {
align-items: center;
bottom: 10px;
display: flex;
height: 43px;
justify-content: center;
overflow: hidden;
position: absolute;
right: 0;
width: 70px;
/*background: url("../../../assets/img/White label.png") no-repeat;*/
}

.media-carousel .item a span img {
/*max-height: 34px;
max-width: 36px;*/
margin-left: 18px;
max-width: 30px;
max-height: 30px;
}

.media-carousel .item span {
float: left;
clear: left;
}
.media-carousel .item span.design_NAME{
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
background-color: rgba(0,0,0,.3);
color: #fff;
text-transform: capitalize;
/*font-family: open_sansregular;*/
}

.media-carousel .item a+span {
float: left;
/*font-family: "open_sansregular";*/
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
}

.fs-style .media-carousel .carousel-control.left,
.fs-style .media-carousel .carousel-control.right {
/*margin-top: 120px;*/
margin-top: 200px; border:none;
box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px;
}
.fs-style .media-carousel .carousel-control.left{
    left: -28px !important;
}
.fs-style .media-carousel .carousel-control.right{
    right: -28px !important;
}
.fs-style .media-carousel .carousel-control img{
    padding: 10px 3px;
}
.fs-ProductsType h3 {
padding-left: 15px;
}

.fs-collectionsPic {
overflow: hidden;
height: 320px;
padding-right: 0;
}

.fs-ProductsType .fs-socialbar {
border-bottom: 0;
padding-left: 15px;
}

.fs-ProductsType .media-carousel .item a {
height: 163px;
}

.fs-ProductsType .media-carousel .carousel-control.left,
.fs-ProductsType .media-carousel .carousel-control.right {
margin-top: 70px;
}

.carousel-control {
/*font-family: dinlight;*/
}

.fs-ProductsType .fs-association-data {
background: white none repeat scroll 0 0;
position: absolute;
right: -87%;
top: 40px;
z-index: 1;
}

.fs-style h3,
.fs-News h3,
.fs-shopByVideos h3,
.fs-ShareUrStyle h3 {
/*margin-bottom: 30px;*/
/*margin-top: 0;*/
    border-left: 4px solid rgb(255, 89, 107);
    padding-left: 15px;
    line-height: 20px; color: #575757; cursor: pointer;
}
.fs-News h3,
.fs-shopByVideos h3,
.fs-ShareUrStyle h3 {
/*margin-bottom: 30px;
margin-top: 0;*/
color: #575757;
}
.fs-seemore {
float: left;
padding-right: 15px;
/*margin-top: -30px; */
margin-top: 0; 
margin-bottom: 10px;
width: 100%;
padding-left: 19px;
}
.fs-seemore span{ color: #7e7e7e; font-size: 16px; float: left;}
.fs-seemore a {
color: #7e7e7e;
float: right; font-size: 16px; cursor: pointer;
/*font-family: dinlight;*/
}
.fs-seemore a:hover {
color: rgb(255, 89, 107);
}

.fs-ProductsType .fs-seemore {
padding-right: 0;
}

.fs-Products .row .col-md-3 {
width: 20%;
}

.fs-Products .media-carousel .item a {
height: 193px;
}

.fs-Products .media-carousel .carousel-control.left,
.fs-Products .media-carousel .carousel-control.right {
margin-top: 80px;
}

.fs-shopByVideos {
margin-bottom: 80px;
/*display: table;*/
min-height: 300px;
}
.fs-shopByVideos .fs-glyph-play{
position: absolute;
left: 49%;
color: #fff;
font-size: 20px;
top: 48%; cursor: pointer;
}

.fs-shopByVideos .media-carousel .item a {
height: 203px;
}
.fs-shopByVideos .media-carousel .item a + div span{
        white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fs-ShareUrStyle .media-carousel .item a {
height: 292px;
}

.fs-ShareUrStyle .media-carousel .carousel-control.left,
.fs-ShareUrStyle .media-carousel .carousel-control.right {
margin-top: 150px;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px;
}
.fs-ShareUrStyle .media-carousel .carousel-control.left{ left: -28px !important; }
.fs-ShareUrStyle .media-carousel .carousel-control.right{ right: -28px !important; }
.fs-ShareUrStyle .media-carousel .carousel-control img{ padding: 10px 3px; }
.fs-shopByVideos .media-carousel .carousel-control.left,
.fs-shopByVideos .media-carousel .carousel-control.right {
margin-top: 85px;
}

.fs-News .media-carousel .carousel-control.left,
.fs-News .media-carousel .carousel-control.right {
margin-top: 190px;
box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px;
}
.fs-News .media-carousel .carousel-control.left{left: -28px !important;}
.fs-News .media-carousel .carousel-control.right{
    right: -28px !important;
}
.fs-News .media-carousel .carousel-control img{
    padding: 10px 3px;
}
.fs-News .fs-socialbar .glyphicon {
margin: -2px 4px 0 0;
padding: 0;
}
.fs-News .fs-association-data+div p:last-child span {
color: rgb(143, 163, 242);
float: right;
height: auto;
text-align: right;
}
.fs-News .fs-association-data+div p:first-child {
height: 50px;
line-height: 18px;
overflow: hidden;
text-align: justify;
}
.fs-News .thumbnail>div:first-child {
max-height: 200px;
min-height: 200px;
overflow: hidden;
}
.fs-News .thumbnail>div:first-child img {
width: 100%;
}
.fs-News .fs-likes {
padding-top: 0;
}
.fs-News .fs-quotes {
align-items: center;
box-shadow: 0 0 5px 0 #ddd;
display: flex;
font-weight: bold;
justify-content: center;
margin: 3%;
max-height: 190px;
min-height: 190px;
overflow: hidden;
text-align: center;
}
.fs-ShareUrStyle1 .media-carousel .item a {
height: 1005px;
border: none;
}
.fs-ShareUrStyle1 .media-carousel .carousel-control.left,
.fs-ShareUrStyle1 .media-carousel .carousel-control.right {
margin-top: 500px;
}
/* End carousel */
.cursor {
cursor: pointer;
}
.userlist th,
.userlist td {
text-align: center;
}
.text-white {
color: #fff;
}
nav a {
background-color: transparent;
}
.fs-style .media-carousel .row .col-md-3{
}
.fs-style .media-carousel .thumbnail > img{
/*transform: scale(1.55);*/
}
.fs-style .media-carousel .thumbnail{
    /*height: 350px;*/
    /*height: 436px;*/ height: 422px;
    /*border:none;*/
}
.fs-style .media-carousel span.text-capitalize{ font-weight: normal; /*padding-right: 35px;*/
color: #7e7e7e; cursor: pointer;}
.fs-style .media-carousel span{ font-weight: bold; }
.fs-style .media-carousel .thumbnail img {
/*height: 263px;*/
/*height: 100%;
width: 100%;*/
cursor: pointer;
/*max-width: inherit; max-height: inherit;*/
}
.fs-ShareUrStyle .media-carousel .thumbnail img {
height: 292px;
}
.media-carousel .brandStore {
width: 20%;
padding-right: 25px;
float: left;
}
.media-carousel .brandStore:last-child {
padding-right: 0;
}
.media-carousel .brandStore a {
height: 160px !important;
border: none;
/*background-color: #eee;*/
margin-bottom: 25px;
}
.fs-BrandSTore .media-carousel .carousel-control.left,
.fs-BrandSTore .media-carousel .carousel-control.right {
margin-top: 155px;
}
.fs-morebrands .media-carousel .brandStore {
width: 20%;
padding-right: 25px;
float: left;
height: 100px;
margin-bottom: 25px;
}
.fs-morebrands .media-carousel .brandStore a {
    height: 100px !important; border: 1px solid #333;
}
.fs-morebrands .media-carousel .brandStore a img {
    width: 100px;
}
.fs-BrandSTore.fs-morebrands .media-carousel .carousel-control.left,
.fs-BrandSTore.fs-morebrands .media-carousel .carousel-control.right {
margin-top: 96px;
}
.fs-MoreBrandSTore .media-carousel .brandStore a {
height: 80px !important;
}
.fs-MoreBrandSTore .media-carousel .carousel-control.left,
.fs-MoreBrandSTore .media-carousel .carousel-control.right {
margin-top: 75px;
}
.fs-News {
/*margin-top: 80px;*/
min-height: 380px;

/*height: 100%;
border: 1px solid green;
width: 100%;
height: 100%;
position: absolute;
top: 0;*/
/*position: absolute !important;
top: 0 !important;
z-index: 9999999 !important;
width: 100%;
height: 100%;*/

/*margin-bottom: 80px;*/
}
.fs-News.fs-News-likemodal{
/*    height: 100%;
border: 1px solid green;
width: 100%;
height: 100%;
top: 0;*/
/*position: relative;*/

}
.fs-News.fs-News-likemodal .row1{ float: left; width: 100%; }
.fs-ShareUrStyle {
/*margin-bottom: 80px;*/
}
.fs-ShareUrStyle .row1{ float: left; width: 100%; }
.fs-ShareUrStyle .carousel-inner{
    min-height: 300px;
    padding-bottom: 30px;
}
.media-carousel .item a+span a {
height: auto;
color: #333;
text-transform: capitalize;
}
.media-carousel-prod .item a {
height: 100px;
display: flex;
align-items: center;
justify-content: center;
}
.fs-style .media-carousel-prod .thumbnail img {
height: 100px;
}
.media-carousel-prod .carousel-control.right {
right: -12px !important;
opacity: 1;
background: #fff;
border: 1px solid #ddd;
color: #ccc;
height: 30px;
width: 20px;
margin-top: 110px;
text-shadow: none;
}
.media-carousel-prod .carousel-control.left {
left: -12px;
opacity: 1;
background: #fff;
border: 1px solid #ddd;
color: #ccc;
height: 30px;
width: 20px;
margin-top: 110px;
text-shadow: none;
}
.fs-style .media-carousel-prod .carousel-control.left,
.fs-style .media-carousel-prod .carousel-control.right {
margin-top: 35px;
}
.fs-obsessions h3 {
/*font-family: "open_sanslight";*/
/*margin-bottom: 30px;*/
    border-left: 4px solid #ff596b;
    padding-left: 15px;
    line-height: 20px;
    color: #575757;
}
.fs-obsessions > .row1:last-child{ padding-left: 15px; padding-right: 15px; }
.fs-obsessions h5{ float: left; width: 100%; padding:0 15px 0 19px;  margin-top: 0;}
.fs-obsessions h5 span{font-size: 16px; color: #7e7e7e; float: left;}
.fs-obsessions h5 a{font-size: 16px; color: #7e7e7e;}

.fs-obsessions .thumbnail img{
    /*width: 100%; height: 100%;*/
    /*max-height: inherit;*/
}
.fs-obsessions .media-carousel .item a + span{
    /*font-weight: bold;*/
cursor: pointer; text-align: center;
}
.fs-obsessions .media-carousel .item .col-md-3 span{ width: 100%; text-align: center; color: #7e7e7e;
text-transform: capitalize; }
.fs-obsessions .media-carousel .item .col-md-3 span:last-child{ color: #616161; 
    font-family: 'proxima_nova_ltsemibold'; }
.fs-designer-store .carousel-designerstore .col-md-4 {
/*width: 20%;*/
/*width: 17%;
margin: 0 0px 0px 30px;
padding: 0;*/
/*height: 436px;box-shadow: 0px 0px 0px 2px #f8f8f8;*/
    margin: 10px;
 border:1px solid #f2f2f2;
    width: 31.5%; padding:30px 0;
}
.fs-designer-store .carousel-designerstore .item{
        padding-bottom: 30px;
    float: left;
}
.fs-designer-store .carousel-designerstore .item a {
/*height: 100px;*/
/*height: 193px; */
    height: 200px;
    -webkit-transition: none;
    transition: none;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px #f8f8f8;
    cursor: pointer;
    width: 200px;
    left: 21.5%;
    border: 10px solid #fff !important;
}
.fs-designer-store .carousel-designerstore .item a:hover img{ transform: scale(1.1); }
.carousel-designerstore .item a:hover{
    /*border:none;*/
}
.carousel-designerstore .item h2{ float: left; width: 100%; text-align: center; margin-bottom: 0;
overflow:hidden; white-space: nowrap;text-overflow: ellipsis; color: #7e7e7e; padding:0 20px;
font-size: 26px; }
.carousel-designerstore .item h5{ float: left; width: 100%; text-align: center; color: #616161;
margin-top: 5px;}
.carousel-designerstore .item p{ float: left; text-align: center; width: 100%; color: #616161; }
.carousel-designerstore .item p button{
    background: none;
    border: 1px solid #d5d5d5;
    /*box-shadow: 0px 0px 7px 0px #f8f8f8;*/
    height: 30px;
    color: #575757;
    border-radius: 20px;
    font-size: 16px;
    width: 100px; margin-top: 15px;
}
.carousel-designerstore .item p span{ /*float: left;clear: none;*/ }
.carousel-designerstore .carousel-control.left,
.carousel-designerstore .carousel-control.right {
margin-top: 175px !important;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px;
}
.carousel-designerstore .carousel-control img{
    padding: 10px 3px; width: auto;
}
.carousel-designerstore .carousel-control.left{ left: -28px !important; }
.carousel-designerstore .carousel-control.right{ right: -28px !important; }
.fs-shopbyvideos {
padding-left: 0;
padding-bottom: 25px;
}
.fs-shopbyvideos:nth-child(3n) {
padding-right: 0;
}
.fs-shopbyvideos a {
align-items: center;
background-color: rgb(213, 211, 211);
border: 1px solid rgb(213, 211, 211);
display: flex;
float: left;
height: 185px;
width: 100%;
overflow: hidden;
position: relative;
}
.fs-shopbyvideos .fs-prodcnt {
float: left;
width: 100%;
}
.fs-shopbyvideos .fs-moviename {
float: left;
width: 100%;
font-weight: bold;
margin-top: 10px;
}
.fs-ShopByvideosModal {
background: rgba(35, 35, 35, 0.8) none repeat scroll 0 0;
height: 385%;
position: absolute;
right: 0;
top: 0;
width: 100%;
z-index: 999;
padding-bottom: 100px;
}
.fs-ShopByvideosModal h3 {
margin-top: 0;
}
.fs-ShopByvideosModal .bgwhite {
top: 30px;
padding: 20px;
margin-bottom: 100px;
overflow: hidden;
}
.bgwhite {
background-color: #fff;
}
.fs-ShopByvideosModal .fa-close {
color: rgb(255, 255, 255);
position: relative;
right: -10px;
border: 1px solid;
padding: 3px;
border-radius: 100%;
top: 8px;
height: 22px;
width: 22px;
text-align: center;
cursor: pointer;
}
.fs-ShopByvideosModal .thumbnail {
height: 239px;
background-color: rgb(241, 240, 240);
}
.fs-ShopByvideosModal .thumbnail .Buy {
background: white none repeat scroll 0 0;
border-radius: 8px;
bottom: 10px;
color: #ccc;
font-family: verdana;
font-weight: 100;
height: 20px;
line-height: 10px;
padding: 3px 6px;
position: absolute;
right: 15px;
}
.fs-ShopByvideosModalViewall .thumbnail {
align-items: center;
border-radius: 0;
display: flex;
float: left;
height: 263px;
justify-content: center;
margin-bottom: 10px;
overflow: hidden;
padding: 0;
position: relative;
width: 100%;
}
.fs-pr10 {
padding-right: 10px;
}
.fs-style {
/*margin-bottom: 80px;*/
/*margin-top: 40px;*/
/*min-height: 100px;*/
}
.fs-style .carousel-inner{
/*min-height: 380px;*/
min-height: 300px;
/*margin-bottom: 80px;*/
margin-bottom: 30px;
}
.fs-Products {
margin-bottom: 80px;
}
.fs-Products h3 {
margin-bottom: 30px;
}
.padding0{
    padding: 0;
}


.fs-glyph-play{
    position: absolute;
top: 42%;
left: 45%;
/*color: #fff;*/
width: 40px;
/*font-size: 20px;*/
}
.fs-News.fs-videos{
margin-top: 0;
}
.fs-videos .carousel-inner .item .col-md-4 {
/*border: 1px solid #ddd;*/
padding: 0;
margin: 0 6px 0 15px;
width: 31.33333333%;
}
.fs-videos .carousel-inner .item .thumbnail{
    margin-bottom: 0;
    border:0;
}
.fs-videos .carousel-inner .item .fs-vid-info{
/*background-color: #fff;*/
padding: 5px;
float: left;
width: 100%;
}
.fs-videos .carousel-inner .item .fs-vid-info span:first-child{
    font-weight: bold;
}
.fs-videos .carousel-inner .item .fs-vid-info span{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 100%;
}
.fs-videos .carousel-inner .item .thumbnail {
    height: 200px;
    margin-bottom: 5px;
}
.fs-videos .carousel-inner .item .thumbnail img:first-child{
/*    width: 100%;
    height: 100%;*/
    /*transform: scale(1.5);*/
    width: 376px;
height: 200px;
}
.fs-News.fs-videos .media-carousel .carousel-control.left, 
.fs-News.fs-videos .media-carousel .carousel-control.right{
margin-top: 90px;
}
.fs-videos .thumbnail + span{font-weight: bold;}
.pl40{
    padding-left: 40px;
}
.fs-News .carousel-inner{ 
/*overflow: visible;*/ 
padding-bottom: 30px;
}
.fs-News.fs-videos .carousel-inner{
padding-bottom: 80px;
min-height: 393px;
}
.fs-BrandSTore .carousel-inner{
    min-height: 370px;
}
.fs-ShareUrStyle .item .col-md-4{
border: 1px solid #ddd;
padding: 0;
margin: 0 6px 0 15px;
width: 31.33333333%;
}
.viewallclick , .Back{
    cursor: pointer;
}
.other-prodlayer div{
     align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    display: none;
}
.other-prodlayer div span{
      border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    height: 25px; line-height: 25px; font-weight: normal !important;
    padding: 0 10px; width: 70px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #575757;
}
.other-prodlayer:hover div {display: flex;}
.other-prodlayer + p{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: 600; text-transform: uppercase; margin-bottom: 0;
}
.fs-designer-store{
    float: left;width: 100%;
}
.fs-designer-store h3{
    border-left: 4px solid #ff596b;
    padding-left: 15px;
    line-height: 20px; color: #575757;
}
.fs-designer-store > div{
    float: left; width: 100%;
    /*width: 19.3%; margin-right: 10px;padding: 0;*/
}
.fs-designer-store > div:last-child{
    margin-right: 0;
}
.fs-designer-store > div a{
/*height: 214px;*/
}
.fs-designer-store > div img{
    /*height: 180px;cursor: pointer;*/ width: 100%; height: 100%; border-radius: 100%; transition: all 1s;
}
.fs-designer-store .shopnow{
    background-color: #fff;
    width: 90%; margin:0 5%;
    float: left;
    text-align: center;
    color: #000;
    position: relative;
    top: -18px;text-transform: uppercase;
}
.fs-designer-store div span:first-child{
/*width: 100%; float: left;font-size: 16px; 
height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}
.fs-designer-store div span:last-child{
/*    width: auto;
    font-size: 13px;
    float: left;
border-bottom: 1px solid;
    margin: auto;
    left: 31%;
    position: relative; cursor: pointer;*/
}
.fs-designer-store > div:first-child{
    /*padding: 0;*/
}
.fs-designer-store > div:last-child{
    /*padding: 0;*/
}
.semore:hover{
color: rgb(255, 89, 107);
cursor: pointer;
}
.r1 > div{
        padding: 0;
    margin-right: 1.334%;
    width: 24%;
}
.r1 > div:last-child{ margin-right: 0; }
.r1 > div a{ height: 436px; border:none; }
.fs-obsessions .media-carousel .left.carousel-control, 
.fs-obsessions .media-carousel .right.carousel-control{
        margin-top: 200px;
    border: none;
    -webkit-box-shadow: 0px 0px 3px 0px #ddd;
    box-shadow: 0px 0px 3px 0px #ddd;
    border-radius: 4px;
    height: 38px;
    width: 25px;
}
.fs-obsessions .media-carousel .carousel-control.right {
    right: -28px !important;
}
.fs-obsessions .media-carousel .carousel-control.left {
    left: -28px !important;
}
.fs-obsessions .media-carousel .carousel-control img {
    padding: 10px 3px;
}
#media66 .thumbnail{ height: 300px !important; }