
        <div *ngIf = "(pageType =='movie')" class="col-md-12 padding0 bg-white hidden-xs hidden-sm">
          <div class="col-md-12 bg-white padding0" >
            
            <ul class="list-unstyled Types padding0 bg-white" style="">
              <li [ngClass]="index == '*' ? 'Active' : ''">
                <a on-click="eventEmitt('*')">
                  <img *ngIf="index != '*'" alt="image" class="" 
                  src="../../../assets/img/New Icon.png">
                  <img *ngIf="index == '*'" alt="image" class="" 
                  src="../../../assets/img/News Pink.png">
                  <span class="fs-ml5">What's New?</span></a>
              </li>
              <li>
                <a [routerLink] = "['/feed']">
                  <img alt="image" class="" 
                  src="../../../assets/img/Feed Icon.png">
                  <!-- <img alt="image" class="" 
                  src="../../../assets/img/Feed Pink.png"> -->
                  <span class="fs-ml5">My feed</span></a>  
              </li>
            </ul>
            <!--accordion-->
<div class="col-md-12 padding0">
  <div class="accordion-option">
   
    <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-group accordion-fs" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          EXPLORE
        </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> 
        <div class="panel-body" style="padding: 0;">
          <ul class="list-unstyled Types" style="padding: 0; margin:10px 0;">
            <li [ngClass]="index == 'news' ? 'Active' : ''"><a on-click="eventEmitt('news')">
              <img *ngIf="index != 'news'" src="../../../assets/img/News Icon.png" alt="image" class="">
              <img *ngIf="index == 'news'" src="../../../assets/img/News Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">News</span></a></li>
            <li [ngClass]="index == 'Gallery' ? 'Active' : ''"><a on-click="eventEmitt('Gallery')">
              <img *ngIf="index != 'Gallery'" src="../../../assets/img/Gallery Icon.png" alt="image" class="">
              <img *ngIf="index == 'Gallery'" src="../../../assets/img/Gallery Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Gallery</span></a></li>
            <li [ngClass]="index == 'Videos' ? 'Active' : ''"><a on-click="eventEmitt('Videos')">
              <img *ngIf="index != 'Videos'" src="../../../assets/img/Videos Icon.png" alt="image" class="">
              <img *ngIf="index =='Videos'" src="../../../assets/img/Videos Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Videos</span></a></li>
            <li [ngClass]="index == 'interview' ? 'Active' : ''"><a on-click="eventEmitt('interview')">
              <img *ngIf="index != 'interview'" src="../../../assets/img/Interviews Icon.png" alt="image" class="">
              <img *ngIf="index == 'interview'" src="../../../assets/img/Interviews Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Interviews</span></a></li>
        <li [ngClass]="index == 'Jukebox' ? 'Active' : ''"><a on-click="eventEmitt('Social')">
          <img *ngIf="index != 'Jukebox'" src="../../../assets/img/Jukebox Icon.png" alt="image" class="">
          <img *ngIf="index == 'Jukebox'" src="../../../assets/img/Jukebox Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Juke Box</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
            <!-- <ul class="list-unstyled Types">
              <h5>EXPLORE</h5>
<li>
      <a><img src="../../../assets/img/news.png" alt="image" class="">
        <span>News</span></a>
</li>
<li>
      <a><img src="../../../assets/img/gallery.png" alt="image" class="">
        <span>Gallery</span></a>
</li>
<li>
      <a><img src="../../../assets/img/videos.png" alt="image" class="">
        <span>Videos & Audios</span></a>
</li>
<li>
      <a><img src="../../../assets/img/socialbuzz.png" alt="image" class="">
        <span>Social Buzz</span></a>
</li>

                
              </ul> -->
              <!-- <ul class="list-unstyled RelMovies" *ngIf = "movieCast">
                <div *ngIf = "movieCast[0]">
                  <p>Cast</p>
                    <li *ngFor="let cast of movieCast">
                      <div><a rel="canonical" ><img src="{{cast.profilePic}}" alt="image">
                      <span class="glyphicon glyphicon-play-circle"></span></a></div>
                      <div class="RelMoviesName"><span><a rel="canonical" on-click="gotomoviepage('celeb',cast.slug)">{{cast.name}}</a></span></div>
                      <label>{{cast.castRole}}</label>                      
                    </li>
                </div>
              </ul> -->
          </div> 
          </div>
          <div *ngIf = "(pageType =='movie-store')" class="col-md-12 padding0 bg-white hidden-xs hidden-sm">
             <h4 style="padding: 5px 15px 0;font-size: 14px; color: #111;">SORT BY</h4>
<div class="col-md-12 accordion-select" style="padding-right: 8px;">
  <select class="form-control">
    <option>Latest Products</option>
    <option>Popularity</option>
    <option>Price Low to High</option>
    <option>Price High to Low</option>
  </select>
</div>
<!--accordion-->
<div class="col-md-12 padding0">
 <ul class="fs-Accordion list-unstyled">
<li>
<a class="expand">
<div class="right-arrow">+</div>
<h2>DESIGNERS</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>Gaur Naidu</span></li>
    <li><span class="check"></span><span>Kurta, Kurtis & Anarkalis</span></li>
    <li><span class="check"></span><span>Sarees & Blouses</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>CATEGORY</h2>
</a>
<div class="detail">
  <ul *ngIf='categoryArray' class="list-unstyled">
    <li *ngFor='let subModule of categoryArray;let i=index' [ngClass]="{'active': checkActive(subModule)}" on-click="selectIndex(subModule,i)"><span [ngClass]="{'active': checkActive(subModule)}" on-click="selectIndex(subModule,i)"  class="check"></span><span>{{subModule}}</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>MOVIES</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>rangastalam</span></li>
    <li><span class="check"></span><span>winner</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>tv shows</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>jabardasth</span></li>
    <li><span class="check"></span><span>bhale chancule</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>price</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>Rs. 0 - Rs. 1000</span></li>
    <li><span class="check"></span><span>Rs. 1000 - Rs. 2000</span></li>
    <li><span class="check"></span><span>Rs. 2000 - Rs. 3000</span></li>
    <li><span class="check"></span><span>Rs. 3000 - Rs. 4000</span></li>
    <li><span class="check"></span><span>Rs. 4000 - Rs. 5000</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>discount</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>10% & above</span></li>
    <li><span class="check"></span><span>20% & above</span></li>
    <li><span class="check"></span><span>30% & above</span></li>
    <li><span class="check"></span><span>40% & above</span></li>
    <li><span class="check"></span><span>50% & above</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>colour</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>blue</span></li>
    <li><span class="check"></span><span>pink</span></li>
    <li><span class="check"></span><span>black</span></li>
    <li><span class="check"></span><span>red</span></li>
    <li><span class="check"></span><span>green</span></li>
    <li><span class="check"></span><span>white</span></li>
    <li><span class="check"></span><span>yellow</span></li>
    <li><span class="check"></span><span>orange</span></li>
    <li><span class="check"></span><span>gold</span></li>
    <li><span class="check"></span><span>purple</span></li>
    <li><span class="check"></span><span>grey</span></li>
    <li><span class="check"></span><span>multi</span></li>
  </ul>
</div>
</li>
</ul>
</div>
<!--accordion end-->
          </div>
          <div *ngIf = "(pageType =='celeb'  || pageType =='designer')"  class="col-md-12 padding0 bg-white ">
            <div class="col-md-12 bg-white padding0 hidden-xs hidden-sm" >
              <ul class="list-unstyled Types padding0 bg-white" style="">
              <li>
                <a on-click="eventEmitt('*')"><img alt="image" class="" 
                  src="../../../assets/img/New Icon.png">
                  <span class="fs-ml5">What's New?</span></a>
              </li>
              <li>
                <a [routerLink] = "['/feed']"><img alt="image" class="" src="../../../assets/img/feed.png">
                  <span class="fs-ml5" >My feed</span></a>
              </li>
            </ul>
              
             
               <!--accordion-->
<div class="col-md-12 padding0">
  <div class="accordion-option">
   
    <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-group accordion-fs" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          EXPLORE
        </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" style="padding: 0;">
          <ul class="list-unstyled Types" style="padding: 0; margin:10px 0;">
            <li [ngClass]="index == 'news' ? 'Active' : ''"><a on-click="eventEmitt('news')"><img src="../../../assets/img/News Icon.png" alt="image" class="">
        <span style="margin:-3px 0 0;">News</span></a></li>
            <li [ngClass]="index == 'Gallery' ? 'Active' : ''"><a on-click="eventEmitt('Gallery')"><img src="../../../assets/img/Gallery Icon.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Gallery</span></a></li>
            <li [ngClass]="index == 'Videos' ? 'Active' : ''"><a on-click="eventEmitt('Videos')"><img src="../../../assets/img/Videos Icon.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Videos</span></a></li>
            <!-- <li  [ngClass]="index == 'Social' ? 'Active' : ''"><a on-click="eventEmitt('Social')"><img src="../../../assets/img/socialbuzz.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Social Buzz</span></a></li> -->
        <li [ngClass]="index == 'interview' ? 'Active' : ''"><a on-click="eventEmitt('interview')">
              <img *ngIf="index != 'interview'" src="../../../assets/img/Interviews Icon.png" alt="image" class="">
              <img *ngIf="index == 'interview'" src="../../../assets/img/Interviews Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Interviews</span></a></li>
        <li [ngClass]="index == 'Jukebox' ? 'Active' : ''"><a on-click="eventEmitt('Social')">
          <img *ngIf="index != 'Jukebox'" src="../../../assets/img/Jukebox Icon.png" alt="image" class="">
          <img *ngIf="index == 'Jukebox'" src="../../../assets/img/Jukebox Pink.png" alt="image" class="">
        <span style="margin:-3px 0 0;">Juke Box</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
              <!-- <ul class="list-unstyled RelMovies" *ngIf = "peers">
                <div *ngIf = "peers[0]">
                  <p>Peers</p>
                    <li *ngFor="let peer of peers">
                      <div><a rel="canonical" ><img src="{{peer.profilePic}}" alt="image">
                      <span class="glyphicon glyphicon-play-circle"></span>
                    </a></div>
                      <div class="RelMoviesName"><span><a rel="canonical" on-click="gotomoviepage('celeb',peer.slug)">{{peer.name}}</a></span></div>
                      <label>{{peer.castRole}}</label> 
                    </li>
                </div>
              </ul> -->
            </div> 
            </div>
            <div *ngIf = "( pageType =='celeb-store' || pageType =='designer-store' || pageType =='brand-store')"  class="col-md-12 padding0 fs-mb20 bgWhite pull-left hidden-xs hidden-sm">
<h4 style="padding: 5px 15px 0;font-size: 14px; color: #111;">SORT BY</h4>
<div class="col-md-12 accordion-select" style="padding-right: 8px;">
  <select class="form-control">
    <option>Latest Products</option>
    <option>Popularity</option>
    <option>Price Low to High</option>
    <option>Price High to Low</option>
  </select>
</div>
<!--accordion-->
<div class="col-md-12 padding0">
 <ul class="fs-Accordion list-unstyled">
<li>
<a class="expand">
<div class="right-arrow">+</div>
<h2>DESIGNERS</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>Gaur Naidu</span></li>
    <li><span class="check"></span><span>Kurta, Kurtis & Anarkalis</span></li>
    <li><span class="check"></span><span>Sarees & Blouses</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>CATEGORY</h2>
</a>
<div class="detail">
  <ul *ngIf='categoryArray' class="list-unstyled">
    <li *ngFor='let subModule of categoryArray;let i=index' [ngClass]="{'active': checkActive(subModule)}" on-click="selectIndex(subModule,i)"><span class="check"></span><span>{{subModule}}</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>MOVIES</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>rangastalam</span></li>
    <li><span class="check"></span><span>winner</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>tv shows</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>jabardasth</span></li>
    <li><span class="check"></span><span>bhale chancule</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>price</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>Rs. 0 - Rs. 1000</span></li>
    <li><span class="check"></span><span>Rs. 1000 - Rs. 2000</span></li>
    <li><span class="check"></span><span>Rs. 2000 - Rs. 3000</span></li>
    <li><span class="check"></span><span>Rs. 3000 - Rs. 4000</span></li>
    <li><span class="check"></span><span>Rs. 4000 - Rs. 5000</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>discount</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>10% & above</span></li>
    <li><span class="check"></span><span>20% & above</span></li>
    <li><span class="check"></span><span>30% & above</span></li>
    <li><span class="check"></span><span>40% & above</span></li>
    <li><span class="check"></span><span>50% & above</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>colour</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>blue</span></li>
    <li><span class="check"></span><span>pink</span></li>
    <li><span class="check"></span><span>black</span></li>
    <li><span class="check"></span><span>red</span></li>
    <li><span class="check"></span><span>green</span></li>
    <li><span class="check"></span><span>white</span></li>
    <li><span class="check"></span><span>yellow</span></li>
    <li><span class="check"></span><span>orange</span></li>
    <li><span class="check"></span><span>gold</span></li>
    <li><span class="check"></span><span>purple</span></li>
    <li><span class="check"></span><span>grey</span></li>
    <li><span class="check"></span><span>multi</span></li>
  </ul>
</div>
</li>
</ul>
</div>
<!--accrordion end-->
            </div>


<div *ngIf = "( pageType =='celeb-store' || pageType=='movie-store' || pageType =='designer-store' || pageType =='brand-store')"  class="col-md-12 padding0 fs-mb5 pull-left hidden-lg hidden-md mob-filters-accor">
  <div class="container-fluid movieInfoDiv1 padding0 visible-xs visible-sm hidden-lg">
              <div class="container visible-xs visible-sm hidden-lg padding0">
                <div class="Mob_collections">
                    <ul>
                      <li><a>Sort by<i class="fa fa-plus"></i></a></li>
                      <li><a><i class="fa fa-filter"></i>Filters</a></li>
                    </ul>
                  </div>
              </div>
    </div>
<h4 class="hidden-xs hidden-sm" style="padding: 5px 15px 0;font-size: 14px; color: #111;">SORT BY</h4>
<div class="Mob-Srtby hidden-lg">
  <h3>Sort By<span>x</span></h3>
  <ul>
    <li><a>Latest Products</a></li>
    <li><a>Popularity</a></li>
    <li><a>Price Low to High</a></li>
    <li><a>Price High to Low</a></li>
  </ul>
</div>
<!-- <div class="col-md-12 accordion-select" style="padding-right: 8px;">
  <select class="form-control">
    <option>Latest Products</option>
    <option>Popularity</option>
    <option>Price Low to High</option>
    <option>Price High to Low</option>
  </select>
</div> -->
<!--accordion-->
<div class="col-md-12 padding0 Mob-Filtr hidden-lg">
  <h3>Filter<span>x</span></h3>
 <ul class="fs-Accordion list-unstyled">
<li>
<a class="expand">
<div class="right-arrow">+</div>
<h2>DESIGNERS</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>Gaur Naidu</span></li>
    <li><span class="check"></span><span>Kurta, Kurtis & Anarkalis</span></li>
    <li><span class="check"></span><span>Sarees & Blouses</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>CATEGORY</h2>
</a>
<div class="detail">
  <ul *ngIf='categoryArray' class="list-unstyled">
    <li *ngFor='let subModule of categoryArray;let i=index' [ngClass]="{'active': checkActive(subModule)}" on-click="selectIndex(subModule,i)"><span class="check"></span><span>{{subModule}}</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>MOVIES</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>rangastalam</span></li>
    <li><span class="check"></span><span>winner</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>tv shows</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>jabardasth</span></li>
    <li><span class="check"></span><span>bhale chancule</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>price</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>Rs. 0 - Rs. 1000</span></li>
    <li><span class="check"></span><span>Rs. 1000 - Rs. 2000</span></li>
    <li><span class="check"></span><span>Rs. 2000 - Rs. 3000</span></li>
    <li><span class="check"></span><span>Rs. 3000 - Rs. 4000</span></li>
    <li><span class="check"></span><span>Rs. 4000 - Rs. 5000</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>discount</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>10% & above</span></li>
    <li><span class="check"></span><span>20% & above</span></li>
    <li><span class="check"></span><span>30% & above</span></li>
    <li><span class="check"></span><span>40% & above</span></li>
    <li><span class="check"></span><span>50% & above</span></li>
  </ul>
</div>
</li>
<li>
  <a class="expand">
<div class="right-arrow">+</div>
<h2>colour</h2>
</a>
<div class="detail">
  <ul class="list-unstyled">
    <li><span class="check"></span><span>blue</span></li>
    <li><span class="check"></span><span>pink</span></li>
    <li><span class="check"></span><span>black</span></li>
    <li><span class="check"></span><span>red</span></li>
    <li><span class="check"></span><span>green</span></li>
    <li><span class="check"></span><span>white</span></li>
    <li><span class="check"></span><span>yellow</span></li>
    <li><span class="check"></span><span>orange</span></li>
    <li><span class="check"></span><span>gold</span></li>
    <li><span class="check"></span><span>purple</span></li>
    <li><span class="check"></span><span>grey</span></li>
    <li><span class="check"></span><span>multi</span></li>
  </ul>
</div>
</li>
<button>Apply</button>
</ul>
</div>
<!--accrordion end-->
            </div>

            <div *ngIf = "pageType =='userprofile'">
              <div class="col-md-3 fs-bg1 padding0">
                <ul class="list-unstyled Types">
                  <li class="Active">
                    <!-- <span class="glyphicon glyphicon-home"></span> -->
                    <!-- <img src="../../../assets/img/feed.png" alt="image" class=""> -->
                    <a>
          <img src="../../../assets/img/New Icon.png" alt="" class="">
                     <span class="fs-ml5">What's New?</span></a></li>
                  <li><a>
                    <!-- <span class="fa fa-feed"></span>  -->
                    <img src="../../../assets/img/feed.png" alt="" class="">
          <!-- <img src="../../../assets/img/feed selected.png" alt="image" class=""> -->
          <span class="fs-ml5">My Feed</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/boutique']">
          <!-- <span class="glyphicon glyphicon-home"></span> -->
          <img src="../../../assets/img/my boutique.png" alt="" class="">
          <!-- <img src="../../../assets/img/my boutique selected.png" alt="image" class=""> -->
          <span class="fs-ml5">My Boutique</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/bookmarks']">
          <!-- <span class="fa fa-bookmark-o"></span>  -->
          <img src="../../../assets/img/bookmarks.png" alt="" class="">
          <!-- <img src="../../../assets/img/bookmarks selected.png" alt="image" class=""> -->
          <span class="fs-ml5">Bookmarks</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/liked']">
          <!-- <span class="fa fa-heart-o"></span> -->
          <img src="../../../assets/img/liked posts.png" alt="" class="">
          <!-- <img src="../../../assets/img/liked posts selected.png" alt="image" class=""> -->
          <span class="fs-ml5">Liked Posts</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/orders']">
          <!-- <span class="fa fa-first-order"></span>  -->
          <img src="../../../assets/img/my orders.png" alt="" class="">
          <!-- <img src="../../../assets/img/my orders selected.png" alt="image" class=""> -->
          <span class="fs-ml5">My Orders</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/trending']">
          <!-- <span class="fa fa-line-chart"></span>  -->
          <img src="../../../assets/img/trending.png" alt="" class="">
          <!-- <img src="../../../assets/img/trending selected.png" alt="image" class=""> -->
          <span class="fs-ml5">Trending</span>
        </a>
      </li>
    </ul>
    <ul class="list-unstyled Types">
        <li [ngClass]="index == 'news' ? 'Active' : ''">
          <a on-click="eventEmitt('news')">
            <img src="../../../assets/img/News Icon.png" alt="" class="">
            <span>News</span>
          </a>
        </li>
        <li [ngClass]="index == 'Gallery' ? 'Active' : ''">
          <a on-click="eventEmitt('Gallery')">
            <img src="../../../assets/img/Gallery Icon.png" alt="" class="">
            <span>Gallery</span>
          </a>
        </li>
        <li  [ngClass]="index == 'Videos' ? 'Active' : ''">
          <a on-click="eventEmitt('Videos')">
            <img src="../../../assets/img/Videos Icon.png" alt="" class="">
            <span>Videos & Audios</span>
          </a>
        </li>
        <!-- <li  [ngClass]="index == 'socialbuzz' ? 'Active' : ''">
          <a on-click="eventEmitt('socialbuzz')">
            <img src="../../../assets/img/socialbuzz.png" alt="" class="">
            <span>Social Buzz</span>
          </a>
        </li> -->
  
  
      </ul>
    <ul class="list-unstyled RelMovies" *ngIf="peers">
      <div *ngIf="peers[0]">
        <p>Peers</p>
        <li *ngFor="let peer of peers">
          <div>
            <a rel="canonical">
              <img src="{{peer.profilePic}}" alt="">
              <!-- <span class="glyphicon glyphicon-play-circle"></span> -->
            </a>
          </div>
          <div class="RelMoviesName">
            <span>
              <a rel="canonical"  [routerLink]="['/celeb/'+peer.slug]">{{peer.name}}</a>
            </span>
          </div>
          <label>{{peer.castRole}}</label>
        </li>
      </div>
    </ul>
  </div>
</div>
<div *ngIf="pageType =='userprofile'">
  <div class="col-md-3 fs-bg1 padding0">
    <ul class="list-unstyled Types">
      <li class="Active">
        <!-- <span class="glyphicon glyphicon-home"></span> -->
        <!-- <img src="../../../assets/img/feed.png" alt="image" class=""> -->
        <img src="../../../assets/img/New Icon.png" alt="" class="">
        <span class="fs-ml5">What's New?</span>
      </li>
      <li>
        <!-- <span class="fa fa-feed"></span>  -->
        <img src="../../../assets/img/feed.png" alt="" class="">
        <!-- <img src="../../../assets/img/feed selected.png" alt="image" class=""> -->
        <span class="fs-ml5">My Feed</span>
      </li>
      <li>
        <!-- <span class="glyphicon glyphicon-home"></span>  -->
        <img src="../../../assets/img/my boutique.png" alt="" class="">
        <!-- <img src="../../../assets/img/my boutique selected.png" alt="image" class=""> -->
        <span class="fs-ml5">My Boutique</span>
      </li>
      <li>
        <!-- <span class="fa fa-bookmark-o"></span> -->
        <img src="../../../assets/img/bookmarks.png" alt="" class="">
        <!-- <img src="../../../assets/img/bookmarks selected.png" alt="image" class=""> -->
        <span class="fs-ml5">Bookmarks</span>
      </li>
      <li>
        <!-- <span class="fa fa-heart-o"></span> -->
        <img src="../../../assets/img/liked posts.png" alt="" class="">
        <!-- <img src="../../../assets/img/liked posts selected.png" alt="image" class=""> -->
        <span class="fs-ml5">Linked Posts</span>
      </li>
      <li>
        <!-- <span class="fa fa-first-order"></span>  -->
        <img src="../../../assets/img/my orders.png" alt="" class="">
        <!-- <img src="../../../assets/img/my orders selected.png" alt="image" class=""> -->
        <span class="fs-ml5">My Orders</span>
      </li>
      <li>
        <!-- <span class="fa fa-line-chart"></span>  -->
        <img src="../../../assets/img/trending.png" alt="" class="">
        <!-- <img src="../../../assets/img/trending selected.png" alt="image" class=""> -->
        <span class="fs-ml5">Trending</span>
      </li>
    </ul>
    <ul class="list-unstyled RelMovies">
      <p>Suggested Collections</p>
      <li>
        <div>
          <a rel="canonical">
            <img src="http://content.flikster.com/movie/Mahanubhavudu-Shooting-Completed.jpg" alt="">
          </a>
        </div>
        <div class="RelMoviesName">
          <h5> shiva</h5>
          <span>
            <a rel="canonical" [routerLink]="['/movie/tod']">Actor</a>
          </span>
        </div>
      </li>
      <li>
        <div>
          <a rel="canonical">
            <img src="http://content.flikster.com/movie/Mahanubhavudu-Shooting-Completed.jpg" alt="">
          </a>
        </div>
        <div class="RelMoviesName">
          <h5> mehar</h5>
          <span>
            <a rel="canonical" [routerLink]="['/movie/tod']">Actor</a>
          </span>
        </div>
      </li>
      <li>
        <div>
          <a rel="canonical">
            <img src="http://content.flikster.com/movie/Mahanubhavudu-Shooting-Completed.jpg" alt="">
          </a>
        </div>
        <div class="RelMoviesName">
          <h5> rohan</h5>
          <span>
            <a rel="canonical" [routerLink]="['/movie/tod']">Actor</a>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>


<ul *ngIf="dataArray && page=='feed'" class="list-unstyled topMovies">
  <p>Top Movies</p>
  <li *ngFor="let item of dataArray;let i=index; ">
    <div>
      <a rel="canonical">
        <img src={{item.profilePic}} alt="image">
        <span class="glyphicon glyphicon-play-circle" style="display: none;"></span>
      </a>
    </div>
    <div class="topMoviesrating">
      <a rel="canonical" [routerLink]="['/movie/'+item.slug]">
        <span>{{item.title}}</span>
        <span *ngIf='item.censorCertificate'>({{item.censorCertificate}})</span>
      </a>
    </div>
    <div *ngIf='movieStatusArray[i]'  class="top-mvs-liked">
      <button on-click='changeStatus(movieStatusArray[i],i)' *ngIf='movieStatusArray[i].data.Count=="1"'><img alt="" class="hidden-xs" src="../../../assets/img/card_like-c.png"><span>liked</span>
      </button>
      <button on-click='changeStatus(movieStatusArray[i],i)' *ngIf='movieStatusArray[i].data.Count=="0"'><img alt="" class="hidden-xs" src="../../../assets/img/card_like.png"><span>like</span>
      </button>
      <span class="cnt">{{movieStatusArray[i].totalCount}}</span>
    </div>
  </li>
</ul>
<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>
<!-- <rate-movie *ngIf="displayRatingPopup" [movieObject]='movieObject'  (submitingRatingPopup)="submitingRatingPopup($event)"></rate-movie> -->
