<div *ngIf="data" class='row1 fs-WomenCollections-carousel'>
  <div class='col-md-12'>
    <div class="carousel slide media-carousel" id="media5">
      <div *ngIf='womenCatImages && womencatagoriArray'  class="carousel-inner">
        <div class="item  active">
          <div class="row">
            <div  *ngFor="let item of womencatagoriArray | slice:0:3;let i=index;" class="col-md-4 col-xs-4 "> 
              <a rel="canonical" class="thumbnail" on-click="goToWomenCatogery('womenfashion',item,i)" ><img alt="" src="{{womenCatImages[i]}}">
              <span  class="fs-WomenCollectionsType">{{item}}</span>
              </a>
            </div> 
           
            </div>  
          </div>     
            <div class="item" >
              <div class="row">
                <div  *ngFor='let item of womencatagoriArray | slice:3:4;' class="col-md-4 col-xs-4 ">
                  <a rel="canonical" class="thumbnail" on-click="goToWomenCatogery('womenfashion',item,i+3)"><img alt="" src="{{womenCatImages[3]}}">
                    <span  class="fs-WomenCollectionsType">{{item}}</span>
                    </a>
                </div>          
              </div>
            </div>
       
      </div>
      <a rel="canonical" data-slide="prev" href="/#media5" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        <!-- <i _ngcontent-c1="" _ngcontent-c4="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
      </a>
      <a rel="canonical" data-slide="next" href="/#media5" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        <!-- <i _ngcontent-c1="" _ngcontent-c4="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
      </a>
    </div>                          
  </div>
</div>

<div *ngIf="datas" class='row1 fs-MenCollections-carousel'>
  <div class='col-md-12'>
    <div class="carousel slide media-carousel" id="media10">
      <div *ngIf='mencatagoriArray' class="carousel-inner">
        <div class="item  active">
          <div class="row">
            <div *ngFor='let item of mencatagoriArray |slice:0:3;let i=index;' class="col-md-4 col-xs-4 ">
              <a rel="canonical" class="thumbnail" on-click="goToMenCatogery('menfashion',item,i)" ><img alt="" src="{{menCatImages[i]}}">
              <span  class="fs-WomenCollectionsType">{{item}}</span>
              </a>
            </div> 
            
            </div>  
          </div>     
            <div class="item" >
              <div class="row">
                <div *ngFor='let item of mencatagoriArray |slice:3:4;let i=index;' class="col-md-4 col-xs-4 ">
                  <a rel="canonical" class="thumbnail"  on-click="goToMenCatogery('menfashion',item,i+3)" ><img alt="" src="{{menCatImages[3]}}">
                    <span  class="fs-WomenCollectionsType">{{item}}</span>
                    </a>
                </div>          
              </div>
            </div>
      </div>
      <a rel="canonical" data-slide="prev" href="/#media10" class="left carousel-control">
          <img class="" src="../../../assets/img/arrowleft.png">
        <!-- <i _ngcontent-c1="" _ngcontent-c4="" aria-hidden="true" class="fa fa-chevron-left"></i> -->
      </a>
      <a rel="canonical" data-slide="next" href="/#media10" class="right carousel-control">
          <img class="" src="../../../assets/img/arrowright.png">
        <!-- <i _ngcontent-c1="" _ngcontent-c4="" aria-hidden="true" class="fa fa-chevron-right"></i> -->
      </a>
    </div>                          
  </div>
</div>




  <div *ngIf ="nocarosel=='womenfashion' || nocarosel=='menfashion' " class='row'>
    <div class='col-md-12'>
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of items |slice:1;let i=index' class="col-md-4 col-xs-4 categry-thumbnail">
                <a rel="canonical" class="thumbnail " on-click="goToSeeAll(nocarosel,items[0],item)" ><img *ngIf='displayImages' alt="" src="{{displayImages[i]}}">
                <span class="fs-WomenCollectionsType">{{item}}</span> 
                <div class="categry-layer"><div class="borderlane"></div></div>
                </a>
              </div>          
              </div>  
      </div>                          
    </div>
  </div> 
   <div *ngIf ="nocarosel=='Eyewear' || nocarosel=='Accessories' || nocarosel=='Clothing'"  class='row mob-fs-mt10'>
    <div class='col-md-12 mob-plr7'>
          <div class="item  active">
            <div *ngIf='showSubCata' class="row">
              <div *ngFor='let item of items  |slice:1;let i=index' class="col-md-4 col-xs-4 categry-thumbnail">
                <a rel="canonical" class="thumbnail" on-click='goToProduct(items[0],item)'><img *ngIf='displayImages' alt="" src="{{displayImages[i]}}">
                <span class="fs-WomenCollectionsType">{{item}}</span> 
                <div class="categry-layer"><div class="borderlane"></div></div>
                </a>
              </div>          
              </div>
              <div *ngIf='!showSubCata' class="row">
                <div *ngFor='let item of subitems |slice:1;let i=index' class="col-md-4 col-xs-4 categry-thumbnail">
                  <a rel="canonical" class="thumbnail " on-click="goToSubpage(subitems[0],item)"><img *ngIf='displayImages' alt="" src="{{displayImages[i]}}">
                  <span class="fs-WomenCollectionsType">{{item}}</span> 
                  <div class="categry-layer"><div class="borderlane"></div></div>
                  </a>
                </div>          
                </div>
      </div>                          
    </div>
  </div>   
 
  <div *ngIf ="nocarosel=='designerstore'"  class='row'>
    <div class='col-md-12'>
      
          <div class="item  active">
            <div class="row">
              <div *ngFor='let item of items' class="col-md-4 col-xs-4 ">
                <a rel="canonical" class="thumbnail" on-click="goToSeeAll('menfashion','Clothing','Shirts')" ><img alt="" src="https://bucket-for-image-test.s3.amazonaws.com/flikster.png">
                <span class="fs-WomenCollectionsType">Shirts</span>
                </a>
              </div>          
               </div>
           </div>
  </div>
</div>
<div *ngIf ="nocarosel=='celebstore'"  class='row'>
  <div class='col-md-12'>
    
        <div class="item  active">
          <div class="row">
            <div *ngFor='let item of items' class="col-md-4 col-xs-4 ">
              <a rel="canonical" class="thumbnail" on-click="goToSeeAll('menfashion','Clothing','Shirts')" ><img alt="" src="https://bucket-for-image-test.s3.amazonaws.com/flikster.png">
              <span class="fs-WomenCollectionsType">Shirts</span>
              </a>
            </div>          
             </div>
         </div>
</div>
</div>
<div *ngIf ="nocarosel=='moviestore'"  class='row'>
<div class='col-md-12'>
  
      <div class="item  active">
        <div class="row">
          <div *ngFor='let item of items' class="col-md-4 col-xs-4 ">
            <a rel="canonical" class="thumbnail" on-click="goToSeeAll('menfashion','Clothing','Shirts')" ><img alt="" src="https://bucket-for-image-test.s3.amazonaws.com/flikster.png">
            <span class="fs-WomenCollectionsType">Shirts</span>
            </a>
          </div>          
           </div>
       </div>
</div>
</div>

  <div *ngIf ="shareYourStyleData"  class='row'>
      <div class='col-md-12'>
            <div class="item  active">
              <div class="row">
                <div *ngFor='let item of shareYourStyleData; let i= index' class="col-md-4 col-xs-4 ">
                  <div class="col-md-12 padding0 fs-mb20" style="border: 1px solid rgba(233, 232, 232, .5);">

<fs-card *ngIf="i<3" [miniCard]="miniCard" [contentData]="item" [contentType]="item.contentType"></fs-card>
                  </div>
                
                </div>          
                 </div>
             </div>
    </div>
  </div>