


.padding0 {
padding: 0;
}
a:hover{
text-decoration: none;
}
.fs-leadcast {
float: left;
padding: 10px;
margin-bottom: 0;
width: 100%;
background-color: white;
}
.fs-leadcast li {
float: left;
margin-bottom: 5px;
padding: 5px 0 5px 10px;
width: 100%;
}
.fs-leadcast li:last-child {
margin-bottom: 0;
padding-bottom: 0;
}
.fs-leadcast li a{
/*border: 1px solid #ddd;*/
border-radius: 4px;
float: left;
color: #333;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 100%;
/*font-weight: bold;*/
/*font-family: "DINLight";*/
}
.fs-leadcast li a:hover{
color: rgb(255, 89, 107);
}
.fs-leadcast li img{
height: 100%;
}
.fs-leadcast li div:first-child a{
width: 40px; height: 40px;
}
.fs-leadcast button{
background-color: transparent;
border: 1px solid #818181;
border-radius: 12px;
cursor: pointer; width: 65px;
color: #818181;
/*font-family: "open_sansregular";*/
font-size: 11px;
height: 18px;
padding: 0 10px;
text-transform: capitalize;
margin-left: 10px;
margin-top: 10px;
}
.fs-leadcast button:hover {
border-color: rgb(255, 89, 107);
color: rgb(255, 89, 107);
}
.fs-leadcast p{
/*color: rgb(108, 108, 108);*/
font-size: 15px;
margin-bottom: 6px; text-transform: uppercase;
/*font-family: "DINLight";*/
}
.fs-mt50{
margin-top: 50px;
}
.fs-mt5 {
margin-top: 5px;
}
.fs-mt10 {
margin-top: 10px;
}
.suggested-movies{
	float: left; width: 100%;
	padding: 10px;
	background-color: #fff;
	margin-top: 10px;
}
.suggested-movies li{
	border-bottom: 1px solid #f8f8f8;
    padding: 8px 10px;
}
.suggested-movies li:last-child{
	border-bottom: none; padding:8px 10px 0;
}
.suggested-movies li a{
	text-transform: capitalize;
	color: #616161;
}
.suggested-movies li a:hover{
	cursor: pointer;
	color: rgb(255, 89, 107);
}
.suggested-movies li span.fa-caret-down:hover{
	color: rgb(255, 89, 107);
}
.suggested-movies h5{
	font-size: 15px;
}