

.padding0{
padding: 0;
}
.fs-mb5 {
margin-bottom: 5px;
}
.fs-mb20 {
margin-bottom: 20px;
}
.fs-mt50 {
margin-top: 50px;
}
.shareStyleCard {
background: #fff none repeat scroll 0 0;
border: 1px solid #e2e2e2;
border-radius: 4px;
padding: 20px;
margin-top: 150px;
margin-bottom: 50px;
}
.SHareSTylePic {
border: 1px solid #e2e2e2;
height: 150px;
overflow: hidden;
position: absolute;
right: -73px;
top: -84px;
width: 150px;
}
.SHareSTylePic img {
height: 146px;
margin: 1px;
width: 146px;
}
.fs-pl150{
padding-left: 150px;
}
.shareStyleCard .styleInfo{
/*font-family: "open_sansregular";*/
margin-bottom: 3px;
}
.h200{
align-items: start;
display: flex;
height: 200px;
overflow: hidden;
}
.h200 span{
bottom: 0;
color: #fff;
left: 0;
position: absolute;
right: 0;
text-align: center;
}
.flex-center{
align-items: center;
}
.fs-mr5{
margin-right: 5px;
}
.col-md-3a{
width: 24.45%;
}
.col-md-6a{
width: 48.9%;
}
.flex{
align-items: center;
display: flex;
}