* {
/*font-family: 'DINLight';*/
}
.bg-white{
background-color: white;
}
.fs-mt30 {
margin-top: 30px;
}
.fs-mb20 {
margin-bottom: 20px;
}
.fs-card {
float: left;
background-color: #fff;
/*border: 1px solid rgb(233, 232, 232);*/
box-shadow: 0px 0px 3px #ddd;
margin-bottom: 30px;
padding-bottom: 10px;
}
.fs-association-data {
padding: 10px 0;
float: left;
}
.fs-title {
text-transform: capitalize;
font-family: DIN-Medium;
margin-top: 5px;
color: #222;
font-size: 15px;
cursor: pointer;
}
.fs-asso-hash span {
margin-right: 5px;
text-transform: capitalize;
color: #616161;
/*font-family: DINLight;*/
}
.fs-pic {
float: left;
padding: 3px 10px 0;
}
.fs-pic img {
width: 40px;
height: 40px;
}
.fs-info {
padding-left: 0px;
padding-right: 10px;
}
.fs-follow {
float: right;
margin-right: 10px;
margin-top: 12px;
max-width: 65px;
padding: 0;
}
.fs-follow button {
background: transparent none repeat scroll 0 0;
border: 1px solid #616161;
border-radius: 16px;
float: left;
padding: 0;
text-transform: uppercase;
height: 22px;
line-height: 30px;
font-size: 12px;
width: 75px;
}
.fs-follow button:hover {
border-color: rgb(255, 89, 107);
color: rgb(255, 89, 107);
}
.fs-glyph-play {
color: #fff;
font-size: 30px;
left: 48%;
position: absolute;
top: 45%;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.4);
border-radius: 100%;
font-family: 'Glyphicons Halflings';
}
.fs-socialbar {
padding-bottom: 14px;
padding-top: 20px;
border-bottom: 1px solid rgb(233, 232, 232);
}
.fs-socialbar button {
border: 0;
background-color: transparent;
padding-left: 0;
padding-right: 16px;
color: #616161;
text-transform: capitalize;
}
.fs-socialbar button span:last-child {
color: #616161;
padding-left: 7px;
}
.fs-socialbar button span.glyphicon {
color: #222;
}
.fs-likes {
font-size: 12px;
padding-top: 4px;
}
.fs-likes span {
font-weight: bold;
margin-right: 3px;
font-size: 14px;
}
.fs-title-heading h4 {
color: #222;
font-size: 14px;
text-transform: capitalize;
font-family: DIN-Medium;
margin: 20px 0;
}
.fs-comments p {
margin-bottom: 0px;
margin-top: 3px;
color: #616161;
font-size: 12px;
}
.fs-comments p span {
color: #a5a5a5;
text-transform: capitalize;
}
.fs-comments button {
border: 0;
background-color: transparent;
padding: 0;
color: #222;
}
.separator {
border-top: 1px solid rgb(233, 232, 232);
margin-top: 10px;
}
.fs-comments textarea {
border-width: 0;
width: 95%;
float: left;
line-height: 30px;
resize: none;
}
.fs-comments textarea:focus {
box-shadow: 0 1px 0 0 #5ba0fe;
}
.fs-option {
float: left;
margin-top: 12px;
text-align: right;
width: 5%;
}
.padding0 {
padding: 0;
}
.fs-upcomingpic {
height: 311px;
overflow: hidden;
}
.Card_Style{
/*box-shadow: 0px 2px 0px #ddd;
border: 2px solid #ddd;*/
/*display: table;*/
width: 100%;
/*border-color: #c7c7c7;*/
border-color: rgba(0,0,0,.05);
border-style: solid;
border-width: 1px 1px 1px 1px;
float: left;
/*box-shadow: 0px 1px 0px 0px rgba(0,0,0,.15);*/
/*border-radius: 4px;*/
}
.Card_Style:hover{
	border-color: #cfcfcf;
}