<div class="container-fluid fs-header">
  <titlebar></titlebar>
</div>
<div class="container-fluid mt50" style="padding: 0;">
	<div class="container-fluid" style="padding: 0;">
		<!--about us-->
		<div *ngIf='slug=="about"' class="about-us" style="">
			<div class="header"><div class="header-layer"><h3 style="margin:0;color: #fff;font-size: 60px;text-align: center;">ABOUT US</h3></div></div>
			<div class="container">
		<div style="padding: 30px;color: #000;">
			<p>Have you ever found yourself drooling over a celebrity or a recent movie you just watched ? You dig deep and binge on internet to feed your curiosity right? Sometimes it is clothing or the jewellery or could be the celebrity looks that you want to get hold of, but it gets tiring as the resources are limited.</p>
			<p>We at Flikster facilitate your curiosity making it time effective.</p>
			<p>Flikster, is an attempt to capture the spirit of Indian Entertainment Industry. We cover the broad section of celebrity trends, fashion, beauty, latest celebrity updates including their movie trailers and the most viewed songs. Keeping in mind the included diversity within Indian Film Industry, you name any (B,T,K,S or M)'wood and we have it covered for you.</p>
			<p>We provide you a platform to Bid and Win auctions of celebrity memorabilia and the products owned by them. You can also buy celebrity inspired fashion that would definitely fall in your fashion budget.</p>
			<p>Be Inspired to live the Celebrity Experience with us.</p>
		</div>
		<div class="col-md-12 padding0">
			<div class="col-md-4 abt-info-border">
				<h4>Careers<span class="strip"></span></h4>
				<p>Looking to work with our fashion<br>crew? Become a brand that<br> delivers celebrity fashion.</p>
				<button>More ></button>
			</div>
			<div class="col-md-4 abt-info-border">
				<h4>Partner with Us<span class="strip"></span></h4>
				<p>Get listed on the best online<br>marketplace for celebrity fashion<br>and grow your business with us.</p>
				<button>More ></button>
			</div>
			<div class="col-md-4 abt-info-border">
				<h4>Help<span class="strip"></span></h4>
				<p>Frequently Asked Questions and other related information.</p>
				<button>More ></button>
			</div>
		</div>
		</div>
		</div>
		<!--<div *ngIf='slug=="about"' class="OurTeam" style="">
			<h3 class="title">Our Team<span class="strip"></span></h3>
			<div class="col-md-12 padding0">
				<div class="col-md-4 OurTeamDiv text-center">
					<img src="https://top10cinema.com/dataimages/43744/43744-003.jpg" alt="image" class="img-responsive">
					<br>
					<strong>Name Here</strong>
					<br>
					<span class="designation">Designation</span>
					<br>
					<p>simply dummy text of the printing and typesetting industry</p>
				</div>
				<div class="col-md-4 OurTeamDiv text-center">
					<img src="https://top10cinema.com/dataimages/43744/43744-003.jpg" alt="image" class="img-responsive">
					<br>
					<strong>Name Here</strong>
					<br>
					<span class="designation">Designation</span>
					<br>
					<p>simply dummy text of the printing and typesetting industry</p>
				</div>
				<div class="col-md-4 OurTeamDiv text-center">
					<img src="https://top10cinema.com/dataimages/43744/43744-003.jpg" alt="image" class="img-responsive">
					<br>
					<strong>Name Here</strong>
					<br>
					<span class="designation">Designation</span>
					<br>
					<p>simply dummy text of the printing and typesetting industry</p>
				</div>
				<div class="col-md-4 OurTeamDiv text-center">
					<img src="https://top10cinema.com/dataimages/43744/43744-003.jpg" alt="image" class="img-responsive">
					<br>
					<strong>Name Here</strong>
					<br>
					<span class="designation">Designation</span>
					<br>
					<p>simply dummy text of the printing and typesetting industry</p>
				</div>
				<div class="col-md-4 OurTeamDiv text-center">
					<img src="https://top10cinema.com/dataimages/43744/43744-003.jpg" alt="image" class="img-responsive">
					<br>
					<strong>Name Here</strong>
					<br>
					<span class="designation">Designation</span>
					<br>
					<p>simply dummy text of the printing and typesetting industry</p>
				</div>
				<div class="col-md-4 OurTeamDiv text-center">
					<img src="https://top10cinema.com/dataimages/43744/43744-003.jpg" alt="image" class="img-responsive">
					<br>
					<strong>Name Here</strong>
					<br>
					<span class="designation">Designation</span>
					<br>
					<p>simply dummy text of the printing and typesetting industry</p>
				</div>
			</div>
			<div class="col-md-12 padding0 mt50">
				<p>simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
			</div>
		</div>-->
		<!--careers-->
		<div  *ngIf='slug=="careers"' class="container-fluid padding0">
		<div class="careers">
			<div class="header mob-mlr-minus15 fs-mb20"><div class="header-layer">
				<h3 _ngcontent-c0="" style="margin:0;color: #fff;font-size: 60px;text-align: center;">CAREERS</h3></div>
			</div>
			<div class="container">
			<div class="pull-left col-md-12 col-xs-12 padding0">
				<p>Flikster aims at living best experience as a team. A job need not be a revision of what you already know, our dynamic platform provides an opportunity to learn while you explore. We share passion for a fashionable lifestyle. Our motive is to add a bit style, a bit fashion with a handful of confidence into the lives of people. Things we touch don’t remain ordinary because we deliver Style!</p>
			<p>Do you have a passion for Movies & Fashion? Do you feel your brimming creativity needs an outlet? You want to be the reason for somebody's gained confidence?</p>
			<p>If you nodded your head while going through the questions, you definitely are at right place!Get in touch!<br>Let your creativity bloom with us.</p>
			</div>
			<div class="col-md-12 padding0 pull-left">
				<h3>Open Positions<span class="strip"></span></h3>
    <div class="col-md-12 col-xs-12 pull-left padding0">
    	<div class="careers-Div">
    		<h4>Content Writer<span class="strip"></span></h4>
    		<p>Responsible for writing creative<br>content in English for the<br>Flikster website.</p>
    		<p>Location: Hyderabad</p>
    		<button>Apply</button>
    	</div>
    	<div class="careers-Div">
    		<h4>Content Strategist<span class="strip"></span></h4>
    		<p>Interest in and aptitude for<br>developing social media and<br>content strategy solutions.</p>
    		<p>Location: Hyderabad</p>
    		<button>Apply</button>
    	</div>
    	<div class="careers-Div">
    		<h4>Digital Marketing <br>Manager<span class="strip" style="top: 80px;"></span></h4>
    		<p>Ensure that all our internet properties<br>have been technically optimized to<br>attract and engage target audience.</p>
    		<p>Location: Hyderabad</p>
    		<button>Apply</button>
    	</div>
    	<!-- <div class="careers-Div">
    		<h4>Content Writer<span class="strip"></span></h4>
    		<p>Responsible for writing creative<br>content in English for the<br>Flikster website.</p>
    		<p>Location: Hyderabad</p>
    		<button>Apply</button>
    	</div>
    	<div class="careers-Div">
    		<h4>Content Strategist<span class="strip"></span></h4>
    		<p>Interest in and aptitude for<br>developing social media and<br>content strategy solutions.</p>
    		<p>Location: Hyderabad</p>
    		<button>Apply</button>
    	</div> -->
    </div>

    <div class="col-md-12 padding0">
    	<!-- <p><strong>Shibi infolab Pvt Limited</strong> simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industrysimply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry</p>
			<p>simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industrysimply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry</p> -->
			<!-- <h4><strong>About Flikster</strong></h4>
			<p>User's Acknowledgment and Acceptance of Terms (Last updated on Dec 20, 2017)</p>
			<p>Tired of following celebrities and movies on diffeent websites?Have you ever watched a music video,festival reel, movie trailer or any video and something grabs your attention right away? Maybe it’s an accessory, an item of clothing, or even the location. More often than not, that moment proves fleeting because the product or location can seem impossible to find. Until now.</p>
			<p>Through Flikster’s website and mobile appications, you can now easily follow celebrities and movies, watch your favorite videos and purchase the styles and book travel to the locations and stay or paty at that same place or even book an event witin seconds. At Flikster, we want to you be inspired and live the experience.</p>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  Ipsum has been  the industry's  standard dum my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<h4><strong>Careers</strong></h4>
			<p>Tired of following celebrities and movies on diffeent websites? Have you  ever  watched  a music video,  festival reel, movie trailer or any video and something grabs  your  attention right away? Maybe it’s an  accessory, an item of clothing, or even the location. More often than not, that moment proves fleeting  because the product or location can seem impossible to find. Until now.</p>
			<p>Tired of following celebrities and movies on diffeent websites? Have you  ever  watched  a music video,  festival reel, movie trailer or any video and something grabs  your  attention right away? Maybe it’s an  accessory, an item of clothing, or even the location.</p>
			<h4><strong>Current openings</strong></h4>
			<h4>Content Writer</h4>
			<h4>Developers <span>(2)</span></h4>
			<h4><strong>Content Writer</strong></h4>
			<h5><strong>Job Decription</strong></h5>
			<p>He/She should be extremely good at churning out high quality content which should increase reach,  engagement, attain new clients/customers, and drive traffic to company website and </p>
<p>social media platforms.</p>
<p>Impeccable grammar, writing, editing, and proofreading skills.</p>
<p>Excellent Effective verbal and written communication skills required.</p>
<p>Ability to write content that inspires its readers to take action</p>
<p>Work within a small team to come up with and execute new ideas for content</p>
<p>Meet all project deadlines</p>
<p>Be thoroughly familiar with the Property Adviser Company brand, lifestyle, and collection</p>
<p>Looking for someone who doesn't just write well, but is creative minded and tells a story in all forms  of writing.</p>
<p>Responsible for writing/updating SEO friendly web site-content</p>
<p><span>Job Type</span>:<span>Full Time</span></p>
<p><span>Education</span>:<span>Any Degree</span></p>
<p><span>Experience</span>:<span>1 year</span></p> -->
    </div>
			</div>
		<!-- <h3 class="title">Careers<span class="strip"></span></h3> -->
			

			<!--<h2>Current openings</h2>
			<ul>
				<li><a on-click='showcontent()'>Content Writer</a></li>
				<li><a >Developers (2)</a></li>
			</ul>-->
		</div></div></div>


		<div *ngIf='slug=="return-policy"' class="container">
		<div  class="careers">
		<h3 class="title">Return Policy<span class="strip"></span></h3>
			<h4>RETURNS</h4>
			<p>Our policy lasts 15 days. If 15 days have gone by since your purchase, unfortunately, we can’t offer you a refund or exchange.</p>
			<p>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>
			<p>Several types of goods are exempt from being returned. We also do not accept products that are intimate - Innerwear: Briefs and Panties, lingerie sets, socks and stockings.</p>
			<p>Additional non-returnable items:</p>
			<ul>
				<li>Gift cards</li>
				<li>Products on auction</li>
			</ul>
			<p>To complete your return, we require a receipt or proof of purchase.</p>
			<p>There are certain situations where only partial refunds are granted: (if applicable)</p>


			<h4>REFUNDS (if applicable)</h4>
			<p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</p>
			<p>If it is approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</p>
			<p>It is expressly clarified that the refund entitled to by a User shall not include money paid towards shipping charges or any other such charges applicable from time to time, except in case of a Product having a defect at the time of delivery (for reasons attributable to, and accepted by Flikster after due verification at its sole discretion).</p>
			<p>Flikster shall make all reasonable attempts to keep the User apprised of the status of refund through updates shared on the User’s registered mobile number and email address. Flikster disclaims all liabilities that may arise on account of its failure to keep the User apprised of the status of the refund</p>


			<h4>Late or missing refunds (if applicable)</h4>
			<p>If you haven’t received a refund yet, first check your bank account again.</p>
			<p>Then contact your credit card company, it may take some time before your refund is officially posted.</p>
			<p>Next contact your bank. There is often some processing time before a refund is posted.</p>
			<p>If you’ve done all of this and you still have not received your refund yet, please contact us at support@flikster.com</p>
		
		
			<h4>Sale items (if applicable)</h4>
			<p>Only regular priced items may be refunded, unfortunately sale items cannot be refunded.</p>
		
			<h4>Auction items (if applicable)</h4>
			<p>Only regular priced items may be refunded, unfortunately auction items cannot be refunded.</p>
		
			<h4>Exchanges (if applicable)</h4>
			<p>We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at support@flikster.com</p>
		
			<h4>Gifts</h4>
			<p>If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</p>
			<p>If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to them to give to you later, we will send a refund to the gift giver and he will find out about your return.</p>
		</div></div>





		<div  *ngIf='slug=="faq"' class="container">
		<div class="careers">
		<h3 class="title">FAQs<span class="strip"></span></h3>
			<h4 style="float: left;width: 100%;margin-top: 10px;font-weight: bold;">ACCOUNT</h4>
			<h5>1. How do I register to Flikster?</h5>
			<p>To register a new account, </p>
			<p>Click on “Login” and select “Register”.</p>
			<p>Fill in First Name, Last Name, E-Mail Address, Password and click on “Submit”.</p>
			<p>You can also use your Facebook or Google account to register with us.</p>

			<h5>2. What is Flikster E-mail verification policy?</h5>
			<p>Email verification is to ensure that the information you provide Flikster is correct so that we can communicate about order details and any other information that is important to you as a customer.</p>

			<h5>3. What should I do if I don’t get the verification code?</h5>
			<p>Sometimes messages get delayed by few minutes due to network issues. In such cases you can click the ‘Resend Code’ button.</p>

			<h5>4. How can I change the password of my Flikster account?</h5>
			<p>Follow these simple steps to change the password of your Flikster account</p>
			<ul class="change-pwd-acc">
				<li>Log in to your Flikster account</li>
				<li>Go to My Account > Change password</li>
				<li>Enter your old password</li>
				<li>Enter your new password</li>
				<li>Choose 'Save Changes'</li>
			</ul>

			<h5>5. How can I change the email ID of my Flikster account?</h5>
			<p>Follow these simple steps on our website to change the email ID of your Flikster account</p>
			<ul class="change-pwd-acc">
				<li>Log in to your Flikster account</li>
				<li>Go to My Account > Update Email/Mobile</li>
				<li>Add the new email ID </li>
				<li>Enter the verification code sent to the new email ID </li>
				<li>Choose 'Save Changes'</li>
			</ul>

			<h5>6. How do I login to my account?</h5>
			<p>Click on the Hamburger menu on the right top corner and click on “Login”, enter your credentials to login into your Flikster account.</p>

			<h5>7. Do I need to register to use Flikster?</h5>
			<p>No, you can browse around without registering with us. But we would recommend that you register so that you could enjoy tailored content and participate in auctions</p>

			<h5>8. Are there any charges for registration?</h5>
			<p>No, there are no charges for registration.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">DISCOUNTS & COUPONS</h4>
			<h5>1. What is discount capping on coupons?</h5>
			<p>For certain products there may be policies restricting maximum discount (including product discount and coupon discount) to a fixed percentage of product MRP. In such cases, the discount on certain coupons might get capped. Please check Cart for final coupon discount value applied.</p>

			<h5>2. Where should I enter the coupon code?</h5>
			<p>You can apply a coupon on cart page before order placement. The complete list of your unused and valid coupons will be available under “Offers & Coupons” tab of App/Website/M-site.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">REFUNDS</h4>
			<h5>1. Will the GST/VAT amount charged be refunded if I return or cancel the product?</h5>
			<p>Yes. The GST/VAT amount will also be refunded into the account selected at the time of return initiation. However no refunds shall be made on GST/VAT of shipping charges.</p>

			<h5>2. When will I get refund for my returned product?</h5>
			<p>Once the returned product has been picked up, the refund gets initiated. It should reflect in your account based on your mode of payment.</p>
			<ul>
				<li>Credit Card, Debit Card & Net banking : 5 – 7 business days</li>
				<li>Wallet : 2 business days</li>
				<li>Store Credits : Instant</li>
			</ul>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">GENERAL and DELIVERY</h4>
			<h5>1. Can I change the shipping address after the order has been placed?</h5>
			<p>Yes, you can change the shipping address of your order before we have processed it, by updating it under 'change address' option which is available under ‘My order’ section.</p>

			<h5>2. What should I do if I miss my delivery?</h5>
			<p>We will make three attempts to deliver the order to you; each attempt on a consecutive day. </p>
			<p>So, in case you’ve missed the order delivery, write to us at support@flikster.com and we shall take care of it.</p>

			<h5>3. What if I don’t like the product as soon as it is delivered? Can I return the product to the courier person?</h5>
			<p>You cannot return the product to the courier person right after receiving. If you are not satisfied with the product you can put a return request by giving us a call.</p>


			<h5>4. How long will the delivery take?</h5>
			<p>Depending upon your delivery address, the time might vary between 4 to 10 working days. </p>

			<h5>5. How can I get my order delivered faster?</h5>
			<p>There is no such facility as of now. But we will definitely try for something like that.</p>

			<h5>6. Can I add more than one delivery address to my Flikster account?</h5>
			<p>Yes, you can add your delivery at the checkout</p>

			<h5>7. Can I leave items in my shopping cart for future purchase?</h5>
			<p>Yes, if you are a registered user – items added to your cart will be saved. If you are a guest user, you cart stays until the session expires.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">ORDERS</h4>
			<h5>1. Can I add an item to my order after I have placed it?</h5>
			<p>Unfortunately, No. You can place another order.</p>

			<h5>2. Can I gift-wrap a product for someone?</h5>
			<p>Yes. We can gift-wrap a product at Rs.50/- per order.</p>

			<h5>3. How do I track my order?</h5>
			<p>Login to your account</p>

			<h5>4. How do I cancel my order?</h5>
			<p>Drop us an email with order details at support@flikster.com</p>

			<h5>5. How will I know if my order is placed?</h5>
			<p>You will get a message to the registered mobile number once the order is confirmed. You will also get a mail to the email id provided with the details of the product.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">PAYMENTS</h4>
			<h5>1. Can I make payment with an International card?</h5>
			<p>Yes, you can make payment via card issued outside India.</p>

			<h5>2. Is it safe to use my credit/debit card on this site?</h5>
			<p>Transactions on Flikster are very safe. We use the best in class security and the payments done are secure.</p>


			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">RETURNS</h4>
			<h5>1. Under what conditions returns/replacements request will not be accepted?</h5>
			<p>Returns/Replacement requests will not be accepted if:</p>
			<p>Product is used or damaged.</p>
			<p>Product is returned without original packaging.</p>
			<p>For missing product that is reported after 2 days of the delivery.</p>

			<h5>2. How do I create a return request?</h5>
			<ul>
				<li>Login to your account.</li>
				<li>Go to my orders.</li>
				<li>Select the order which you want to return.</li>
				<li>Enter the details and create a request.</li>
			</ul>

			<h5>3. Can I return part of my order?</h5>
			<p>Yes. If you have ordered multiple products, you can place a return request for any individual product which you are not satisfied with.</p>

			<h5>4. How do I return a product? </h5>
			<p>Drop us an email with order details at support@flikster.com</p>
			</div>
		</div>

		<!--help page start-->
		<div class="container" *ngIf='slug=="help"'>
		<div class="careers">
				<h3 class="title">Help<span class="strip"></span></h3>
				<div class="col-md-3 fs-tabs-help">
					<ul class="nav nav-tabs">
						<li class="active"><a href="" data-toggle="tab" href="#ACCOUNT">ACCOUNT</a></li>
						<li><a data-toggle="tab" href="#DISCOUNTSandCOUPONS">DISCOUNTS & COUPONS</a></li>
						<li><a data-toggle="tab" href="#REFUNDS">REFUNDS</a></li>
						<li><a data-toggle="tab" href="#GENERALandDELIVERY">GENERAL and DELIVERY</a></li>
						<li><a data-toggle="tab" href="#ORDERS">ORDERS</a></li>
						<li><a data-toggle="tab" href="#PAYMENTS">PAYMENTS</a></li>
						<li><a data-toggle="tab" href="#RETURNS">RETURNS</a></li>
					</ul>
					<span style="float: right;padding-right: 20px; padding-top: 10px;"><a style="text-decoration: underline;" [routerLink] = "['/contact']">Still need help?</a></span>
				</div>
				<div class="col-md-9" style="padding: 0 20px 20px;">
					<div class="tab-content">
					    <div id="ACCOUNT" class="tab-pane fade in active">
					      <div class="help-contet">
						<details>
							<summary>How do I register to Flikster?</summary>
							<p>To register a <a>new account</a>, </p>
							<p>Click on <a>“Login”</a> and select <a>“Register”</a>.</p>
							<p>Fill in First Name, Last Name, E-Mail Address, Password and click on “Submit” </p>
							<p>You can also use your 
								<a href="https://www.facebook.com/Flikster/" target="_blank">Facebook</a> or <a href="https://www.plus.google.com.com/fliksterfashion/" 
								target="_blank">Google account</a> to register with us.
</p>
						</details>
						<details><summary>What is Flikster E-mail verification policy?</summary>
							<p>Email verification is to ensure that the information you provide Flikster is correct so that we can communicate about order details and any other information that is important to you as a customer</p>
						</details>
						<details>
							<summary>what should i do if i don't get the verification code?</summary>
							<p>Sometimes messages get delayed by few minutes due to network issues. In such cases you can click the ‘Resend Code’ button.</p>
						</details>
						<details>
							<summary>How can i change the password of my flikster account?</summary>
							<p>Follow these simple steps to change the password of your F account</p>
							<ul class="change-pwd-acc">
								<li><a>Log in</a> to your Flikster account</li>
								<li>Go to My Account > Change password</li>
								<li>Enter your old password</li>
								<li>Enter your new password</li>
								<li>Choose 'Save Changes'</li>
							</ul>
						</details>
						<details>
							<summary>How can i change the email id of my flikster account?</summary>
							<p>Follow these simple steps on our website to change the email ID of your F account</p>
							<ul class="change-pwd-acc">
								<li>Log in to your Flikster account</li>
								<li>Go to My Account › Update Email/Mobile</li>
								<li>Add the new email ID </li>
								<li>Enter the verification code sent to the new email ID </li>
								<li>Choose 'Save Changes'</li>
							</ul>
						</details>
						<details><summary>How do i login to my account?</summary>
							<p>Click on the Hamburger menu on the right top corner and click on “Login”, enter your credentials to login into your Flikster account.</p>
						</details>
						<details><summary>Do i need to register to use flikster?</summary>
							<p>No, you can browse around without registering with us. But we would recommend that you register so that you could enjoy tailored content and participate in auctions</p>
						</details>
						<details><summary>Are there any charges for registrations?</summary>
							<p>No, there are no charges for registration.</p>
						</details>
						  </div>
					    </div>
					    <div id="DISCOUNTSandCOUPONS" class="tab-pane fade">
					      <div>
					      	<details>
					      		<summary>What is discount capping on coupons?</summary>
					      		<p>For certain products there may be policies restricting maximum discount (including product discount and coupon discount) to a fixed percentage of product MRP. In such cases, the discount on certain coupons might get capped. Please check Cart for final coupon discount value applied.</p>
					      	</details>
					      	<details>
					      		<summary>Where should I enter the coupon code?</summary>
					      		<p>You can apply a coupon on cart page before order placement. The complete list of your unused and valid coupons will be available under “Offers & Coupons” tab of App/Website/M-site.</p>
					      	</details>
					      </div>
					    </div>
					    <div id="REFUNDS" class="tab-pane fade">
					      <div>
					      	<details>
					      		<summary>Will the GST/VAT amount charged be refunded if I return or cancel the product?</summary>
					      		<p>Yes. The GST/VAT amount will also be refunded into the account selected at the time of return initiation. However no refunds shall be made on GST/VAT of shipping charges.</p>
					      	</details>
					      	<details>
					      		<summary>When will I get refund for my returned product?</summary>
					      		<p>Once the returned product has been picked up, the refund gets initiated. It should reflect in your account based on your mode of payment.</p>
					      		<p>Credit Card, Debit Card & Net banking	Wallet	Store Credits</p>
					      		<p>5 – 7 business days	2 business days	Instantly</p>
					      	</details>
					      </div>
					    </div>
					    <div id="GENERALandDELIVERY" class="tab-pane fade">
					      <div>
					      	<details>
					      		<summary>Can I change the shipping address after the order has been placed?</summary>
					      		<p>Yes, you can change the shipping address of your order before we have processed it, by updating it under 'change address' option which is available under ‘My order’ section.</p>
					      	</details>
					      	<details>
					      		<summary>What should I do if I miss my delivery?</summary>
					      		<p>We will make three attempts to deliver the order to you; each attempt on a consecutive day. 
So, in case you’ve missed the order delivery, write to us at support@flikster.com and we shall take care of it.</p>
					      	</details>
					      	<details>
					      		<summary>What if I don’t like the product as soon as it is delivered? Can I return the product to the courier person?</summary>
					      		<p>You cannot return the product to the courier person right after receiving. If you are not satisfied with the product you can put a return request by giving us a call.</p>
					      	</details>
					      	<details>
					      		<summary>How long will the delivery take?</summary>
					      		<p>Depending upon your delivery address, the time might vary between 4 to 10 working days.</p>
					      	</details>
					      	<details>
					      		<summary>How can I get my order delivered faster?</summary>
					      		<p>There is no such facility as of now. But we will definitely try for something like that.</p>
					      	</details>
					      	<details>
					      		<summary>Can I add more than one delivery address to my Flikster account?</summary>
					      		<p>Yes, you can add your delivery at the checkout</p>
					      	</details>
					      	<details>
					      		<summary>Can I leave items in my shopping cart for future purchase?</summary>
					      		<p>Yes, if you are a registered user – items added to your cart will be saved. If you are a guest user, you cart stays until the session expires.</p>
					      	</details>
					      </div>
					    </div>
					    <div id="ORDERS" class="tab-pane fade">
					      <div>
					      	<details>
					      		<summary>Can I add an item to my order after I have placed it?</summary>
					      		<p>Unfortunately, No. You can place another order.</p>
					      	</details>
					      	<details>
					      		<summary>Can I gift-wrap a product for someone?</summary>
					      		<p>Yes. We can gift-wrap a product at Rs.50/- per order. </p>
					      	</details>
					      	<details>
					      		<summary>How do I track my order?</summary>
					      		<p>Login to your account<br>Go to ‘My Orders’</p>
					      	</details>
					      	<details>
					      		<summary>How do I cancel my order?</summary>
					      		<p>Drop us an email with order details at support@flikster.com</p>
					      	</details>
					      	<details>
					      		<summary>How will I know if my order is placed?</summary>
					      		<p>You will get a message to the registered mobile number once the order is confirmed. You will also get a mail to the email id provided with the details of the product.</p>
					      	</details>
					      	
					      </div>
					    </div>
					    <div id="PAYMENTS" class="tab-pane fade">
					      <div>
					      	<details>
					      		<summary>Can I make payment with an International card?</summary>
					      		<p>Yes, you can make payment via card issued outside India.</p>
					      	</details>
					      	<details>
					      		<summary>Is it safe to use my credit/debit card on this site?</summary>
					      		<p>Transactions on Flikster are very safe. We use the best in class security and the payments done are secure.</p>
					      	</details>
					      </div>
					    </div>
					    <div id="RETURNS" class="tab-pane fade">
					      <div>
					      	<details>
					      		<summary>Under what conditions returns/replacements request will not be accepted?</summary>
					      		<p>Returns/Replacement requests will not be accepted if:
					      		<br>Product is used or damaged.<br>Product is returned without original packaging.<br>For missing product that is reported after 2 days of the delivery.</p>
					      	</details>
					      	<details>
					      		<summary>How do I create a return request?</summary>
					      		<p>Login to your account.<br>Go to my orders.<br>Select the order which you want to return.<br>Enter the details and create a request.</p>
					      	</details>
					      	<details>
					      		<summary>Can I return part of my order?</summary>
					      		<p>Yes. If you have ordered multiple products, you can place a return request for any individual product which you are not satisfied with.</p>
					      	</details>
					      	<details>
					      		<summary>How do I return a product?</summary>
					      		<p>Drop us an email with order details at support@flikster.com</p>
					      	</details>
					      </div>
					    </div>
					  </div>
				</div>
		</div>
	</div>
		<!--help page end-->
		
		<div class="container" *ngIf='slug=="auctionFaqs"'>
		<div  class="careers">
				<h3 class="title">Auction FAQs<span class="strip"></span></h3>
					<h4>FAQs regarding Auction</h4>
					<h5>1. How do I bid?</h5>
					<p>You can directly Log in if you are a registered user. In case you are not registered with us yet, take a few minutes to register and let’s get you started. 
							Once you are onboard, you can enter an amount and place your bid, the entered amount should be more than the ‘starting bid’ amount. Click the red button to confirm your bid. </p>
					
		
					<h5>2. Am I eligible to Bid?</h5>
					<p>Once you are registered with us, yes you are eligible to participate in bidding process.</p>
		
					<h5>3. If I am not a resident of India, Am I eligible to bid?</h5>
					<p>Without a doubt! Our motive is to provide the access to people around the globe, Some items could have a restricted geographical access. Kindly go through the description before placing your bid.</p>
		
					<h5>4. What currency am I bidding in?</h5>
					<p>All the placed bids and the transaction would be in India Rupee (INR), unless an alternative is specifically stated. </p>
				
		
					<h5>5. What if I fail to claim my bid?</h5>
					<p>If you win a bid, we will notify you through email regarding the win and within a stipulated time limit we would expect you to make the transaction. If you fail to make transaction, your win would be transferred to the next successful bidder.</p>
				
		
					<h5>6. How will I know when I am the winning bidder?</h5>
					<p>We will send you an email notification informing about the success once the auction time limit is over. The email would enclose a congratulation note along with details and the time period for you to make the transaction for claiming the winning item.</p>
		
					<h5>7. How will I pay for the item I won?</h5>
					<p>The email sent to you for notifying your win would have the link for payment. You can use any of the provided options for the payments except cash on delivery (COD).</p>
		
					<h5>8. Will I be charged for shipping and packaging charges?</h5>
					<p>No, you will not be charged extra for shipping and packaging.</p>
		
					<h5>9. What other charges will I be charged? / Does the bidding cost include taxes?</h5>
					<p>Applicable tax on the basis exact location & discount will be charged at the time of checkout.
						</p>
		
					<h5>10. How soon will I receive my Item?</h5>
					<p>It would take at least 5-6 business working days for the winning item to reach the address provided by you</p>
				</div>
				</div>



		<!--content-writer-->
		<!--<div *ngIf='show' class="content-writer">
		<h3 class="title">Content Writer<span class="strip"></span></h3>
			<h4 class="pull-left col-md-12 padding0">Job Description</h4>
			<ul class="col-md-12 padding0">
				<li>simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry</li>
				<li>simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry</li>
				<li>simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry</li>
			</ul>
			<hr>
			<div class="jobinfo col-md-12 padding0">
				<div class="col-md-12 jobinfo-row">
					<span>job type</span>
					<span>:</span>
					<span>full time</span>
				</div>
				<div class="col-md-12  jobinfo-row">
					<span>education</span>
					<span>:</span>
					<span>any degree</span>
				</div>
				<div class="col-md-12  jobinfo-row">
					<span>experience</span>
					<span>:</span>
					<span>1 year</span>
				</div>
				<div class="col-md-12 ">
					<button>Apply for this Job</button>
				</div>
			</div>
		</div>-->
		<!--Refer a friend-->
		<div class="container" *ngIf='slug=="refer-a-friend"'>
		<div *ngIf='slug=="refer-a-friend"' class="refer-a-friend col-md-8 col-md-offset-2 padding0">
			<div class="col-md-12 padding0 ref-header">
				<img alt="image" class="img-responsive" src="https://top10cinema.com/dataimages/43744/43744-003.jpg">
				<span>Refer a friend</span>
				<img alt="image" class="img-responsive" src="https://top10cinema.com/dataimages/43744/43744-003.jpg">
			</div>
			<div class="col-md-8 col-md-offset-2 padding0">
				<label>Email:</label><br>
				<input class="form-control" type="" name="" placeholder="Enter friends email address"><br>
				<label>Link:</label><br>
				<input class="form-control" type="" name="" placeholder="" value="http://flikster.com/shareyourstyle"><br>
				<button class="btn ">Invite</button><br>
				<h4>Share on:</h4>
				<p class="shareicons">
					<i aria-hidden="true" class="fa fa-facebook"></i>
					<i aria-hidden="true" class="fa fa-twitter"></i>
					<i aria-hidden="true" class="fa fa-instagram"></i>
					<i aria-hidden="true" class="fa fa-linkedin"></i>
				</p>
			</div>
		</div>
	</div>
		<!--terms & conditions-->
		<div class="container" *ngIf='slug=="terms"'>
		<div class="termsconditions col-md-12 ">
			<h3 class="title">Terms & Conditions<span class="strip"></span></h3>
			<p>User's Acknowledgment and Acceptance of Terms (Last updated on June 20, 2015)</p>
			<p><strong style="color: rgb(255, 89, 107);">Shibiinfolab Pvt Limited</strong> provides the Flikster website  and various  related  services  (collectively, the "Site") to  you,  the user, conditioned upon your agreement and compliance with all the terms, conditions, and notices contained or  referenced in thisagreement (the "Terms and Conditions of Use"), as well as any other written agreement between us and you. In addition, when using particular services or materials on the Site, you shall also be subject to any posted  rulesapplicable to such services or materials that may contain terms and conditions in addition to those in these Terms and Conditions of Use. All such additional guidelines or rules are hereby incorporated by reference into these Terms and Conditions of Use. In the event there is a conflict between these Terms and Conditions of Use and the latter, and the latter provides  additional  restrictions, the latter will take precedence</p>
			<p>or materials on the Site, you shall also be subject to any posted  rulesapplicable to such services or materials that may contain terms and conditions in addition to those in these Terms and Conditions of Use. All such additional guidelines or rules are hereby incorporated by reference into these Terms and Conditions of Use. In the event there is a conflict between these Terms and Conditions of Use and the latter, and the latter provides  additional  restrictions, the latter will take precedence. </p>
			<p>BY USING THE SITE, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND  AGREE TO BE BOUND  BY  THESE TERMS AND CONDITIONS OF USE. IF YOU DO NOT AGREE AND DO NOT WISH TO BE BOUND BY  THE THESE TERMS AND CONDITIONS OF USE, YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE, APPLICATION, SERVICES OR SITE CONTENT. IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS OF USE, EXIT THE SITE NOW. YOUR SOLE AND ONLY REMEDY FOR DISSATISFACTION WITH THE SITE, ORANY PRODUCTS, SERVICES, CONTENT, OR OTHER INFORMATION AVAILABLE ON OR THROUGH THE SITE, IS TO STOP USING THE SITE AND/OR THOSE PARTICULAR PRODUCTS OR SERVICES. YOUR AGREEMENT WITH US REGARDING COMPLIANCE WITH THESE TERMS AND CONDITIONS OF USE BECOMES EFFECTIVE IMMEDIATELY UPON COMMENCEMENT OF YOUR USE OF THE SITE. </p>
			<p>We expressly reserve the right to modify, discontinue or terminate the Site, Application or Services or to change these Terms and Conditions of Use at any time and without notice to you. You acknowledge and agree that it is your responsibility to review the Site and these Terms and Conditions of Use from time to time and to familiarize yourself with any modifications. If we modify these Terms and Conditions of Use, we will post the modification on the Site. We will also update the "Last Updated Date" at the top of these Terms and Conditions of Use. Your continued access to, or use of the Site after we have posted a modification will constitute acknowledgement of the modified Terms and Conditions of Use and  agreement  to  abide by  and  be  bound by the modified Terms and Conditions of Use. If the modified Terms and Conditions of Use are not acceptable to you, your only recourse is to cease using the Site, Applications and the Services.</p>
			<p>As used in these Terms and Conditions of Use, references to our "Affiliates" include  our  promoters,  subsidiaries, affiliated companies, officers, directors, suppliers, partners, investors, sponsors, and advertisers, and includes (without limitation) all parties involved in creating, producing, and/or delivering the Site and/or its contents. Description of Services.</p>
			<p>We make various services available on and  through  the Site including, but not  limited  to, personalized recommendations and style advice for women's clothing and accessories, along with other services and features we deem relevant. You are responsible for  providing,  at your own expense, all equipment and resources necessary to use the Site and Services, including a computer, software.</p>
		</div>
	</div>


		<div class="container" *ngIf='slug=="comingsoon"'>
			<div class="termsconditions col-md-12 padding0">
				<h3>COMING SOON</h3>
			</div>
		</div>


		<!-- <div *ngIf='slug=="blog"'  class="termsconditions col-md-12 padding0">
			<h3>COMING SOON</h3>
		</div> -->



<div class="container-fluid padding0 pull-left col-md-12 col-xs-12" *ngIf='slug=="business"'>
		<div  class="termsconditions col-md-12 padding0">
<div class="header">
	<div class="header-layer"><h3 style="margin:0;color: #fff;font-size: 60px;text-align: center;">BUSINESS</h3>
	</div></div>
			<div class="container padding0">
			<h1 class="col-md-12">COMING SOON</h1>
			</div>
		</div>
	</div>


<div class="container" *ngIf='slug=="contact"'>
		<div   class="contactus col-md-12 padding0 mob-plr7">
			<h3 style="margin-bottom: 30px;">Contact Us<span class="strip"></span></h3>
			<div class="col-md-12 padding0">
				<div class="col-md-4">
					<div class="col-md-12 contactus1 contactus1a">
						<span class="icn"><img src="../../../assets/img/envolope.png"></span>
						<h4>write to us</h4>
						<span>support@flikster.com</span>
					</div>
					<div class="col-md-12 contactus1 contactus1b">
						<span class="icn">
							<img src="../../../assets/img/handshake.png">
							<!-- <img src="../../../assets/img/maps.png"> -->
						</span>
						<h4>partner with us</h4>
						<span>partners@flikster.com</span>
						<!-- <p>Unit #3A, 3rd Floor, Plot No.98 & 99,<br>Lumbini Layout, Spaces & More
							<br>Business Center, Gachibowli,<br>Hyderabad - 500033.</p> -->
					</div>
					<div class="col-md-12 contactus1 contactus1c">
						<span class="icn"><img src="../../../assets/img/follow.png"></span>
						<h4>follow us on</h4>
						<!-- <span>partner@flikster.com</span> -->
						<p style="margin-bottom: 0;">
							<a href="https://www.facebook.com/Flikster/" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-facebook"></i>
							</a>
							<a href="https://twitter.com/Flikstercom" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-twitter"></i>
							</a>
							<a href="https://www.instagram.com/fliksterfashion/" target="_blank" >
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-instagram"></i>
							</a>
							<a href="https://in.linkedin.com/company/flikster" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-linkedin"></i>
							</a>
							<a href="https://www.pinterest.com/fliksterfashion/" target="_blank">
								<i _ngcontent-c26="" aria-hidden="true" class="fa fa-pinterest-p"></i>
							</a>
						</p>
					</div>
				</div>
				<div class="col-md-8 contactus2">

					<h4 class="req">submit a request</h4>
					<div class="col-md-12 padding0 mt40 mob-fs-mt10">
						<div class="col-md-6 pl0">
							<input class="col-md-12 pl0" type="" name="Name" placeholder="Name" [(ngModel)]="emailName">
						</div>
						<div class="col-md-6 padding0"><input class="col-md-12 pl0" type="" name="Email" placeholder="Email" [(ngModel)]="email"></div>
					</div>
					<div class="col-md-12 padding0">
						<!-- <input class="col-md-12 padding0" value="subject" list="subject" name="subject" [(ngModel)]="emailDataList"> -->
						  <!-- <datalist id="subject" style="display: block;">
						    <option value="Order Delivery">
						    <option value="Return/Exchange">
						    <option value="Change/Cancel Order">
					    	<option value="Payment/Refund">
				    		<option value="Offers, Discounts,Coupons">
			    			<option value="Manage your acoount">
		    				<option value="Others">
						  </datalist> -->
						  <select>
						  	<option value="Order Delivery">Order Delivery</option>
						    <option value="Return/Exchange">Return/Exchange</option>
						    <option value="Change/Cancel Order">Change/Cancel Order</option>
					    	<option value="Payment/Refund">Payment/Refund</option>
				    		<option value="Offers, Discounts,Coupons">Offers, Discounts,Coupons</option>
			    			<option value="Manage your acoount">Manage your acoount</option>
		    				<option value="Others">Others</option>
						  </select>
					</div>
					<div class="col-md-12 padding0">
						<textarea class="col-md-12" placeholder="write a message" [(ngModel)]="emailTextarea"></textarea>
					</div>
					<div class="col-md-12 padding0">
						<button on-click="sendEmail()">Send</button>
						<p class="sentRes">{{message}}</p>
					</div>
				</div>
			</div>
		</div>
		</div>


		<!--privacy-->
		<div class="container" *ngIf='slug=="privacy"'>
		<div class="privacy col-md-12 padding0">
			<h3 class="title">Privacy<span class="strip"></span></h3>
			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 1</h4> 
			<h5>What do we do with your information?</h5>
			<p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</p>
			<p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
			<p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>


			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 2 - CONSENT</h4> 
			<h5>How do you get my consent?</h5>
			<p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>
			<p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
			<h5>How do I withdraw my consent?</h5>
			<p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at support@flikster.com</p>


			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 3 - DISCLOSURE</h4> 
			<p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>


			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 4 - PAYMENT</h4> 
			<h5>How do you get my consent?</h5>
			<p>If you choose a direct payment gateway to complete your purchase, it stores your credit card data until the purchase. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.</p>
			<p>All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.</p>
			<p>PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.</p>


			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 5 - THIRD-PARTY SERVICES</h4> 
			<p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
			<p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
			<p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
			<p>In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>
			<p>As an example, if you are located in the United States and your transaction is processed by a payment gateway located in India, then your personal information used in completing that transaction may be subject to disclosure under India legislation.</p>
			<p>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</p>
			<h5>Links</h5>
			<p>When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</p>




			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 6 - SECURITY</h4> 
			<p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
			<p>If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>
			<h5>Cookies</h5>
			<p>Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your Web browser to enable our systems to recognize your browser and to provide features such as Feed and browsing preferences.</p>
			<p>We use web beacons (also known as “action tags” or “single-pixel gifs”) and other technologies to measure the effectiveness of certain site features and to conduct research and analysis. We also allow third parties to place web beacons and other technologies on our site to conduct research and analysis, but we do not provide personal information to such third parties.</p>
			<p>A User may set or amend his/her/its web browsers to delete or disable cookies. If a User chooses to disable cookies on his/her/its computer or mobile telecommunication device, it may impair, degrade or restrict access to certain areas of the Platforms. Merely closing the web browser should ordinarily clear all temporary cookies installed by Flikster. However, Users are encouraged to use the “clear cookies” functionality of their browsers to ensure deletion, as Flikster cannot guarantee, predict or provide for the behavior of the equipment of all the Users of the Platforms.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 7 - AGE OF CONSENT</h4> 
			<p>By using this site, you represent that you are at least the age of majority in your state of residence, or that you are the age of majority in your state or country of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">SECTION 8 - CHANGES TO THIS PRIVACY POLICY</h4> 
			<p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
			<p>If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>



			<h4 style="float: left;width: 100%;margin-top: 20px;font-weight: bold;">QUESTIONS AND CONTACT INFORMATION</h4> 
			<p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at support@flikster.com</p>
			<p>[Re: Privacy Compliance Officer]</p>
			<p>Shanti Bushan</p>
			<p>[Gachibowli , Hyderabad, AP, 500032, India]</p>
		</div>
		</div>
	</div>
</div>
<!--blog page start-->
<div *ngIf="show">
		<div *ngIf='slug=="blog" || slug=="refer-a-friend" || slug=="rewards" ' class="blog-commingsoon">
			<div class="blog-Content">
				<span  on-click="close()" class="glyphicon glyphicon-remove blg-modal-close"></span>
				<h4 class="text-center">Our Blog is</h4>
				<h3 class="text-center">LAUNCHING SOON</h3>
				<P class="text-center" style="margin: 30px 0 20px 0;">Sign up for our latest blog posts and be the<br>first to know when we go live!</P>
				<p><input type="" name="" placeholder="Enter your email"><span><button>Submit</button></span></p>
				<!-- <img alt="image" src="../../../assets/img/comingsoon.png" style="width: 100%;"> -->
				<!-- <p><button on-click="goToLogin()">Sign up</button></p> -->
			</div>
		</div>
	</div>
<!--blog page end-->
 <div class="container-fluid padding0 fs-mstore-footer1">
      <footer></footer>
</div>
<login *ngIf="displayLoginPopup" (closeLoginPopup)="closeLoginPopup($event)"></login>