.fs-mtb10{
margin-top: 10px;
margin-bottom: 10px;
}


.crop {
overflow: hidden;
/*margin-left: 15px;*/
padding-left: 15px;
width: 100%;
}
/*.crop > div {
float: left;
}*/
/*.crop > div:last-child {
margin-left: 20px;
margin-top: 3px;
}
.crop > div:last-child span {
float: left;
}
.crop > div:last-child span + span:last-child {
margin: 3px 2px;
}*/

div {
cursor: pointer;
}
.glyphicon{
padding-left: 5px;
font-size: 20px;
float:left;
height: 100%;
/* color: #E4F41E; */
color: #ccc;
}
.glyphicon-star{
color: #f5d256;
}
.fs-modal-rating, .fs-modal-rating-tollywood{
background: rgba(35,35,35,.8);
width:100%;
height: 100%;
min-height: 100vh;
float: left;
/*display: none;*/
position: fixed;
top: 0;
left: 0;
z-index: 1;
}
.fs-dialog-rating, .fs-modal-rating-tollywood .fs-dialog-rating {
background: #fff none repeat scroll 0 0;
min-height: 220px;
display: table;
margin: 0 auto;
min-width: 400px;
position: relative;
text-align: center;
top: 150px;
}
.fs-dialog-rating, .fs-modal-rating-tollywood .fs-dialog-rating {
background: #fff none repeat scroll 0 0;
height: 220px;
margin: 0 auto;
min-width: 400px;
position: relative;
text-align: center;
top: 150px;
}
.fs-dialog-rating-heading {
background: #ff596b;
float: left;
width: 100%;
padding: 2px 0;
}
.fs-dialog-rating-heading span{
color: #fff;
font-size: 20px;
font-weight: 200;
}
.fs-dialog-rating-heading h5{
color: #fff;
/*font-family: "open_sansregular";*/
font-size: 16px;
font-weight: 100;
padding-left: 5px;
position: relative;
text-align: left;
text-transform: capitalize;
top: 0;
}
.fs-modal-close {
cursor: pointer;
font-size: 20px;
position: absolute;
right: 5px;
top: 6px;
}
.fs-dialog-rating-heading .fs-modal-close {
color: #fff;
}
.fs-rating-dialog-info {
float: left;
width: 100%;
}
.fs-rating-dialog-info h4 {
margin-top: 20px;
/*font-family: "open_sansregular";*/
}
.fs-rating-dialog-info p{
text-align: center;
}
.fs-rating-dialog-info img{
width: 25px;
cursor: pointer;
}
.fs-rating-dialog-info span{
position: relative;
top: -3px;
}
.fs-modal-movie-rate{
font-size: 20px;
top: 0 !important;
}
.fs-rating-dialog-info button {
background: #ff596b none repeat scroll 0 0;
border: 1px solid #ff596b;
border-radius: 16px;
color: #fff;
height: 30px;
line-height: 18px;
font-size: 17px;
padding:0 20px;
margin-top: 25px;
/*font-family: "open_sansregular";*/
font-weight: 100;
}
.fs-rating-dialog-info > div:first-child{
float: left;
width: 100%;
}
.fs-rating-dialog-info > div:first-child span {
float: left;
font-size: 18px;
padding: 20px 0;
width: 100%;
}
.fs-rating-dialog-info input[type="text"]{
width: 90%;
padding: 3px 6px;
}
.fs-rating-dialog-info textarea{
padding: 3px 6px;
width: 90%;
border: 1px solid #ccc;
}

