<div class="fs-modal-rating">
    <div class="fs-dialog-rating" itemscope itemtype="http://schema.org/Review">
    <div class="fs-dialog-rating-heading" >
      <!-- <h5>Rarandoi veduka chudham</h5> -->
      <span *ngIf="isReview" itemprop="name" >Rarandoi veduka</span>
      <span *ngIf="movieObject" itemprop="name" >{{movieObject.title}}</span>
      
      <span on-click="closePopup()" class="glyphicon glyphicon-remove-circle fs-modal-close"></span>
      </div>
      <div class="fs-rating-dialog-info">
       
       
          <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Book" class="fs-mtb10">
            <!-- <span itemprop="name">Your Rating</span> -->
            <input *ngIf="isReview" [(ngModel)]="title" placeholder="Title" type="text"><br>
              <textarea rows="5" class="fs-mtb10" *ngIf="isReview" [(ngModel)]="review" placeholder="Reviews"></textarea>
          </div>
          <div class='crop'>
            <div [title]='rating' *ngFor='let index of range'>
                <i class='glyphicon' (click)='onClick(index)' [ngClass]="index <= rating ? 'glyphicon-star' : 'glyphicon-star-empty'"></i>
            </div>
            <div>
            <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <span  itemprop="ratingValue" class="fs-modal-movie-rate">{{rating}}</span>
             </span> 
              <span itemprop="reviewBody">/10</span>
            </div>
            
        </div>
          
        
       
      
        <p *ngIf="isReview"><button on-click="submitRating()">Submit</button></p>
       
        <p *ngIf="movieObject"><button on-click="userRating()">Submit</button></p>
      </div>
    </div>
  </div>