<div *ngIf="!isMiniCard && contentData" class="col-md-12 col-xs-12 bgWhite padding0">

    <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
    
    <div class="col-md-12 col-xs-12 padding0" on-click="gotocontent()">
        <img class="img-responsive center-block" src={{contentData.profilePic}}><span class="more"></span>
    </div>
        <audio controls="controls" *ngIf="!isArray" controlsList="nodownload">
          <!-- <source src="track.ogg" type="audio/ogg" /> -->
          <source src={{audioUrl}} type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

        <div *ngIf="isArray">
            <audio controls="controls" *ngFor="let audio of contentData.media.audio" controlsList="nodownload">
            <!-- <source src="track.ogg" type="audio/ogg" /> -->
                <source src={{audio}} type="audio/mpeg" />
            Your browser does not support the audio element.
            </audio>
            <!-- <img _ngcontent-c22="" alt="image" class="" src="../../../assets/img/card_like.png">
            <img _ngcontent-c22="" alt="add" class="img-responsive bookmark1" src="../../../assets/img/card_bookmark.png"> -->
        </div>

        <!--<audio controls="controls" *ngIf="isArray">
            <source src={{audio}} type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>-->
    
    <div class="col-md-12 col-xs-12 pull-left padding0">
<<<<<<< HEAD
        <div class="col-md-12 padding0">
            <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
=======
        <div class="col-md-12 col-xs-12 padding0">
            <card-socialbar [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
>>>>>>> bbbc1e082eebc42670020c7222ea541997d556f3
        </div>
    </div>
    <div class="col-md-12 col-xs-12 card-Title bg-white">
        <h1 on-click="gotocontent()">{{contentData.title}}</h1>
        <p class="text-justify" [innerHTML]='contentData.text'></p>
        <p on-click="gotocontent()"><span>Read More</span></p>
    
    <div class="col-md-12 col-xs-12 pull-left bg-white padding0">
        <div class="col-md-12 col-xs-12 fs-comments padding0">
            
            <card-comments [cardId]="cardId"></card-comments>
        </div>
    </div>
    </div>

</div>
<div *ngIf="contentData">
 <div *ngIf="isMiniCard && page=='content'" class="thumbnail col-md-12 col-xs-12 padding0">
        
        <div class="col-md-12 col-xs-12 padding0 dialogue-height">
            <!-- <img on-click="gotocontent()" class="img-responsive" src={{contentData.profilePic}}><span class="more"></span> -->
            <audio controls="controls" controlsList="nodownload">
              <!-- <source src="track.ogg" type="audio/ogg" /> -->
                <source src={{audioUrl}} type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
    
        </div>
        <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
        
        <div class="col-md-12 col-xs-12 card-Title bg-white" style="height: 75px;">
            <h1 on-click="gotocontent()">{{contentData.title}}</h1>
        
        <!--<div class="col-md-12 col-xs-12 pull-left bg-white padding0">
            <div class="col-md-12 fs-comments padding0">
                <card-comments [cardId]="cardId"></card-comments>
            </div>
        </div>-->
        </div>
        <div class="col-md-12 col-xs-12 pull-left padding0">
            <div class="col-md-12 padding0">
                <card-socialbar [content]="content" [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>

            </div>
        </div>
        

 </div>
 <div *ngIf="isMiniCard && page !='content'" class="thumbnail col-md-12 col-xs-12 padding0">
    
   <a [routerLink] = "['/content/'+contentData.slug]"> <div class="col-md-12 col-xs-12 padding0 dialogue-height">
        <!-- <img on-click="gotocontent()" class="img-responsive" src={{contentData.profilePic}}><span class="more"></span> -->
        <audio controls="controls" controlsList="nodownload">
          <!-- <source src="track.ogg" type="audio/ogg" /> -->
            <source src={{audioUrl}} type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>

    </div></a>
    <card-associationdata [time]='ShowTime' [date]='time' [assnData]="assnData"></card-associationdata>
    
    <div class="col-md-12 col-xs-12 card-Title bg-white" style="height: 75px;">
        <a [routerLink] = "['/content/'+contentData.slug]"> <h4>{{contentData.title}}</h4></a>
    
    <!--<div class="col-md-12 col-xs-12 pull-left bg-white padding0">
        <div class="col-md-12 fs-comments padding0">
            <card-comments [cardId]="cardId"></card-comments>
        </div>
    </div>-->
    </div>
    <div class="col-md-12 col-xs-12 pull-left padding0">
        <div class="col-md-12 col-xs-12 padding0">
            <card-socialbar [contentData]="contentData" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
        </div>
    </div>
    

</div>
</div>