<card-associationdata *ngIf="!miniCard" [isUser]="isUser" [assnData]="assnData"></card-associationdata> 
<div class="container-fluid padding0">
    <div class="col-md-12 padding0 pull-left" *ngIf="content">
      <div class="col-md-12 padding0 pull-left">
          <div class="col-md-12 col-sm-12 fs-mpading0 pull-left padding0">
          <div class="col-md-12 padding0">

          <div *ngIf="cardtype === '1'" class="fs-cardtype-v2">
            <div class="" *ngIf="content.image"><img alt="" class="img-responsive" src="{{content.image[0]}}"></div>
            <div class="" *ngIf="content.product[0]"><a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[0].slug]"><img alt="" src="{{content.image[1]}}"></a></div>
          </div>  

          <div *ngIf="cardtype === '2'" class="fs-cardtype-v2-h2">
            <div class="" *ngIf="content.image">
              <img alt="" class="img-responsive" src="{{content.image[0]}}">
            </div>
            <div class="">
              <div *ngIf="content.product">
                <div class="" *ngIf="content.product[0]">
                <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[0].slug]"><img alt="" src="{{content.image[1]}}"></a>
                </div>
                <div class="" *ngIf="content.product[1]">
                <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[1].slug]"><img alt="" src="{{content.image[2]}}"></a>
                </div>
              </div>
            </div>
          </div> 

          <div *ngIf="cardtype ==='3'" class="fs-cardtype-2v2-2h2">
            <div>
              <div *ngIf="content.image"><img alt="" class="img-responsive" src="{{content.image[0]}}"></div>
              <div *ngIf="content.product"><a *ngIf="content.product[0]" rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[0].slug]"><img alt="" class="img-responsive" src="{{content.image[1]}}"></a></div>
            </div>
            <div *ngIf="content.product">
              <div *ngIf="content.product[1]"><a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[1].slug]"><img alt="" class="img-responsive" src="{{content.image[2]}}"></a></div>
              <div *ngIf="content.product[2]"><a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[2].slug]"><img alt="" class="img-responsive" src="{{content.image[3]}}"></a></div>
            </div>
          </div>

          <div *ngIf="cardtype ==='4'" class="fs-cardtype-h2-v2">
            <div class="" *ngIf="content.image"><img alt="" class="img-responsive" src="{{content.image[0]}}"></div>
            <div class="" style="overflow: hidden;" *ngIf="content.product">
              <div class="" *ngIf="content.product[0]"><a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[0].slug]"><img alt="" class="img-responsive" src="{{content.image[1]}}"></a></div>
              <div class="" *ngIf="content.product[1]" style="overflow: hidden;"><a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[1].slug]"><img alt="" class="img-responsive" src="{{content.image[2]}}"></a></div>
            </div>
          </div>

          <div *ngIf="cardtype ==='5'" class="fs-cardtype-h2-v3">
            <div class="" *ngIf="content.image">
              <img alt="" class="img-responsive" src="{{content.image[0]}}">
            </div>
            <div class="" *ngIf="content.product">
              <div class="" *ngIf="content.product[0]">
                <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[0].slug]"><img alt="" class="img-responsive" src="{{content.image[1]}}"></a>
              </div>
              <div class="" *ngIf="content.product[1]">
                <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[1].slug]"><img alt="" class="img-responsive" src="{{content.image[2]}}"></a>
              </div>
              <div class="" *ngIf="content.product[2]">
                <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[2].slug]"><img alt="" class="img-responsive" src="{{content.image[3]}}"></a>
              </div>
            </div>
          </div>

          <div *ngIf="cardtype === '6'" class="fs-cardtype-v2-h3">
              <div class="" *ngIf="content.image">
                <img alt="" class="img-responsive" src="{{content.image[0]}}">
              </div>
              <div class="" *ngIf="content.product">
                <div class="" *ngIf="content.product[0]">
                  <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[0].slug]"><img alt="" class="img-responsive" src="{{content.image[1]}}"></a>
                </div>
                <div class="" *ngIf="content.product[1]">
                  <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[1].slug]"><img alt="" class="img-responsive" src="{{content.image[2]}}"></a>
                </div>
                <div class="" *ngIf="content.product[2]">
                  <a rel="canonical" class="img-responsive" [routerLink] = "['/product',content.product[2].slug]"><img alt="" class="img-responsive" src="{{content.image[3]}}"></a>
                </div>
              </div>
          </div>
          </div>
          </div>
      </div>
    </div>
</div>
<card-socialbar [content]="content" *ngIf="!miniCard" [cardId]="cardId" [shareSlug]='shareSlug' [shareProfilePic]='shareProfilePic'></card-socialbar>
<div class="padding10 pull-left col-md-12 bg-white" *ngIf="!miniCard">
  <h4 class="title">{{content.title}}</h4>
  <card-comments [cardId]="cardId"></card-comments>
</div>