
<div *ngIf="pageType5=='relatedFlicks'"class="col-md-12 col-xs-12 pull-left padding0">
    <card-youtube  [height]="height" [width]="width" [id]="id" ></card-youtube>
    <card-socialbar [content]="content"></card-socialbar>
    <h4>Movie Trailers</h4>
    <card-comments></card-comments>
  </div>


    <div class="fs-card">
       
    
    <div *ngIf="pageType5=='relatedFlicks'" class="col-md-12 col-xs-12 pull-left padding0">
      <div class="col-md-12 col-sm-4 col-xs-12 pull-left fs-upcomingpic">
        <img src="http://content.flikster.com/movie/alludj.png"  alt="" class="col-md-12 col-xs-12 img-responsive padding0">
        <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span>
      </div>
      
    </div>
  
    <div class="col-md-12 col-xs-12 pull-left padding0">
        <h4>Movie Heading</h4>
    
    </div>
    
  </div>
  <div  class="fs-card">
      
  
  <div *ngIf="pageType5=='relatedFlicks'" class="col-md-12 col-xs-12 pull-left padding0">
    <div class="col-md-12 col-sm-4 col-xs-12 pull-left fs-upcomingpic">
      <img src="http://content.flikster.com/movie/alludj.png"  alt="" class="col-md-12 col-xs-12 img-responsive padding0">
      <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span>
    </div>
    

  </div>


  <div *ngIf="pageType5=='relatedFlicks'" class="col-md-12 col-xs-12 pull-left padding0">
      <h4>Movie Heading</h4>
  
  </div>
  
  
  
</div>
