.fs-modal{
background: rgba(35,35,35,.9);
width:100%;
height: 100%;
float: left;
display: none;
position: absolute;
top: 0;
}
.fs-modal-dialog{
background: #fff none repeat scroll 0 0;
height: 220px;
margin: 0 auto;
position: relative;
top: 200px;
max-width: 400px;
text-align: center;
border-bottom: 10px solid #ff596b;
padding-top: 10px;
}
.fs-modal-dialog img{
width: 60px;
}
.fs-modal-dialog h4{
color: #222;
font-size: 20px;
font-weight: 300;
line-height: 24px;
}
.fs-modal-dialog p img{
width: 150px;
cursor: pointer;
}
.fs-modal-close{
font-size: 20px;
position: absolute;
right: 5px;
top: 6px;
cursor: pointer;
}