
.bg-white{
background-color: white;
}
a:hover{
text-decoration: none;
}
.fs-association-data{
padding:10px 0;
float: left;
}
.fs-pic{
float: left;
padding:3px 10px 0;
}
.fs-pic img{
width: 45px;
height: 45px;
border: 1px solid #f5f5f5;
padding: 2px;
font-size: 10px;
text-align: center;
display: table-cell;
vertical-align: middle;
text-transform: capitalize;
}
.fs-info {
padding-left: 0px;
padding-right: 10px;
/*width: 55%;*/
width: 61.9%;
overflow: hidden;
}
.fs-title{
text-transform: capitalize;
/*font-family: DIN-Medium;*/
/*font-family: open_sansregular;*/
font-weight: bold;
margin-top: 5px;
color: #222;
font-size: 15px;
cursor: pointer; float: left; width: 100%;
}
.fs-title a{
color: #222;
float: left;
height: 22px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
/*font-family: 'Proxima Nova', Georgia, sans-serif;*/
font-weight: bold;
}
.fs-title-heading h4{
color: #222; font-size: 14px;
text-transform: capitalize;
font-family: DIN-Medium;
margin: 20px 0;
}
.fs-asso-hash{
	float: left;
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.fs-asso-hash span{
margin-right: 5px;
text-transform: capitalize;
color: #616161;
/*font-family: DINLight;*/
}
.fs-follow{
float: right;
margin-right: 10px;
margin-top: 16px;
max-width: 65px;
padding: 0;
}
.fs-follow button{
background: transparent none repeat scroll 0 0;
border: 1px solid #818181;
border-radius: 16px;
float: left;
text-transform: capitalize;
font-size: 12px;
min-width: 60px; 
font-family: 'Proxima Nova', Georgia, sans-serif;
padding: 0px 6px;
color: #818181;
}
.fs-follow button:hover{
border-color: rgb(255, 89, 107);
color: rgb(255, 89, 107);
}
.cardAssociationDiv{
	height: 68px;
width: 100%;
float: left;
border-top-left-radius: 4px;
overflow: hidden;
border-top-right-radius: 4px;
}


@media only screen and (max-width:345px){
.fs-title{ font-size: 12px; }
.fs-asso-hash span{ font-size: 12px; }
}