<titlebar (emitCartItems)="emitCartItems($event)"></titlebar>

<banner [userFollowedData]="userFollowedData" (feedFilterFromBanner)="feedFilterFromBanner($event)"></banner>

<div class="text-center EditProfile" *ngIf="isUserProfile">
    <input type="text" [(ngModel)]="userName" class="form-control">
    <button class="btn" onclick="$('#imgupload').trigger('click'); return false;" type="submit">Upload Image</button><br>
    <input type="file"  (change)="changePhoto($event)" id="imgupload" style="display:none;">
    <label *ngIf="imageUploaded">Image Uploaded</label>
    <button class="btn" on-click="save()" type="submit">Save</button>
</div>
<!-- <share-style></share-style> -->

<div class="container-fluid fs-mt50" *ngIf="!isUserProfile">
  <div class="container">
    <div class="col-md-2 padding0 fs-User-leftdiv">
      <!-- <ul class="list-unstyled fs-mt10 Types">
        <li class="Active"><a on-click="getUserPageFeed()" >
          <img src="../../../assets/img/feed selected.png" alt="image" class="">
          <span class="fs-ml5">My Feed</span></a></li>
        <li><a [routerLink] = "['/feed']" >
          <img src="../../../assets/img/feed.png" alt="image" class="">
          <span class="fs-ml5">What's New?</span></a></li>
        <li><a [routerLink] = "['/boutique']">
          <img src="../../../assets/img/my boutique.png" alt="image" class="">
          <span class="fs-ml5">My Boutique</span></a></li>
        <li><a [routerLink] = "['/bookmarks']">
          <img src="../../../assets/img/bookmarks.png" alt="image" class="">
          <span class="fs-ml5">Bookmarks</span></a></li>
        <li><a [routerLink] = "['/liked']" >
          <img src="../../../assets/img/liked posts.png" alt="image" class="">
          <span class="fs-ml5">Linked Posts</span></a></li>
        <li><a [routerLink] = "['/orders']" >
          <img src="../../../assets/img/my orders.png" alt="image" class="">
          <span class="fs-ml5">My Orders</span></a></li>
        <li><a [routerLink] = "['/trending']" >
          <img src="../../../assets/img/trending.png" alt="image" class="">
          <span class="fs-ml5">Trending</span></a></li>
      </ul> -->

      <!-- <ul class="list-unstyled RelMovies" *ngIf="wishListItems">
      <p>Wishlist Items</p>
        <li *ngFor="let item of wishListItems">
        <div><a rel="canonical" [routerLink] = "['/product',item.productDetails.productSlug]"><img src="{{item.productDetails.productPic}}" alt="image">
        </a></div>
        <a class="usr-prodcts" rel="canonical" [routerLink] = "['/product',item.productDetails.productSlug]"><div class="RelMoviesName"><h5>{{item.productDetails.productTitle}}</h5><span>Rs.{{item.productDetails.price}}/-</span></div></a></li>
      </ul> -->

      <ul class="list-unstyled">
        <li [ngClass]="viewOnly == 'Profile' ? 'Active' : ''"><a on-click="setView('Profile')">Profile</a></li>
        <li [ngClass]="viewOnly == 'Preferences' ? 'Active' : ''"><a on-click="setView('Preferences')">Preferences</a></li>
        <li [ngClass]="viewOnly == 'Manage Address' ? 'Active' : ''"><a on-click="setView('Manage Address')">Manage Address</a></li>
        <li [ngClass]="viewOnly == 'Login & Security' ? 'Active' : ''"><a on-click="setView('Login & Security')">Login & Security</a></li>
      </ul>
    </div> 
    <div class="col-md-8 col-xs-8">
      <div class="col-md-12 col-xs-12 padding0">
      <ol class="breadcrumb usr-breadcrumb">
        <li><a>My Account</a></li>
        <li class="active">{{viewOnly}}</li>        
      </ol>
    </div>
    <!--user profile form-->
    <div *ngIf='viewOnly=="Profile"' class="col-md-12 col-xs-12 fs-Profilefrm">
      <div class="col-md-12 col-xs-12 form-group padding0 fs-first-last">
        <div class="col-md-6 col-xs-6 padding0">
          <label>First Name</label>
          <input type="" name="" class="form-control">
        </div>
        <div class="col-md-6 col-xs-6 padding0">
          <label>Last Name</label>
          <input type="" name="" class="form-control">
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>User Name</label>
        <input type="" name="" class="form-control">
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>Email</label>
        <input type="email" name="" class="form-control"><span class="email-change">Change</span>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>Phone</label>
        <input type="number" name="" class="form-control"><span class="phone-change">Change</span>
      </div>
      <div class=" col-md-12 col-xs-12 form-group padding0 fs-gender-dob">
        <div class="col-md-6 col-xs-6 padding0">
          <label>Gender</label>
          <select placeholder="select" class="form-control"><option>Male</option><option>Female</option></select>
        </div>
        <div class="col-md-6 col-xs-6 padding0">
          <label>DOB</label>
          <input type="date" name="" class="form-control">
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>Bio</label>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <p class="text-center"><button>Cancel</button><button>Save Changes</button></p>
      </div>
    </div>
    <!--user preferences form-->
    <div *ngIf='viewOnly=="Preferences"' class="col-md-12 col-xs-12 fs-Preferencesfrm">
      <div class="col-md-12 col-xs-12 form-group padding0">
        <h4>Industry Preferences</h4>
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <label><div class="check"></div>Bollywood</label>
          <label><div class="check"></div>Tollywood</label>
          <label><div class="check"></div>Tamil</label>
          <label><div class="check"></div>Kannada</label>
          <label><div class="check"></div>Malayalam</label>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <h4>Fashion Preferences</h4>
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <label><div class="check"></div>Men</label>
          <label><div class="check"></div>Women</label>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <h4>Email Preferences</h4>
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <p>How often do you want to hear from Flikster?</p>
          <label><div class="check"></div>All the time<span>Send me every email</span></label>
          <label><div class="check"></div>Some times<span>Send me 3-4emails per week</span></label>
          <label><div class="check"></div>Sorry, I'm out<span>unsubscribe me from your email list</span></label>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <p class="text-center"><button>Cancel</button><button>Save Changes</button></p>
      </div>
    </div>

<!--user Manage Address form-->
    <div *ngIf='viewOnly=="Manage Address"' class="col-md-12 col-xs-12 fs-ManageAdres">
      <p>No Saved Addresses</p>
      <div class="col-md-6 col-xs-6 add-adres"><img src="../../../assets/img/add-address.svg" width="40"><br>Add Address</div>

    <div class="adres-history">
      <img src="../../../assets/img/tickmark.png">
      <label>Name</label>
      <label>Plot</label>
      <label>Hyd, Telangana</label>
      <label>500072</label>
      <label class="mob"><span>Mobile:</span> 9999999</label>
      <p class="optns"><a>EDIT</a><a>SET AS DEFAULT</a><a>DELETE</a></p>
    </div>

    <div class="col-md-12 col-xs-12 fs-AddAdresfrm padding0">
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>Name<span>*</span></label>
        <input type="text" name="" class="form-control">
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>Address<span>*</span></label>
        <textarea class="form-control" rows="5"></textarea>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0 city-state">
        <div class="col-md-6 col-xs-6 padding0">
          <label>City<span>*</span></label>
          <input type="text" name="" class="form-control">
        </div>
        <div class="col-md-6 col-xs-6 padding0">
          <label>State<span>*</span></label>
          <input type="text" name="" class="form-control">
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0 pin-mob">
        <div class="col-md-6 col-xs-6 padding0">
          <label>Pincode<span>*</span></label>
          <input type="number" name="" class="form-control">
        </div>
        <div class="col-md-6 col-xs-6 padding0">
          <label>Mobile Number<span>*</span></label>
          <input type="number" name="" class="form-control">
        </div>
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <label>Email<span>*</span></label>
        <input type="email" name="" class="form-control">
      </div>
      <div class="col-md-12 col-xs-12 form-group padding0">
        <button>Save</button>
      </div>
    </div>

    </div>

<!--user Login & Security form-->
    <div *ngIf='viewOnly=="Login & Security"' class="col-md-12 col-xs-12 fs-LoginSecurity padding0">
      <div class="col-md-12 col-xs-12 change-email-phone padding0">
        <h3>CHANGE EMAIL / PHONE</h3>
       <div class="col-md-12 col-xs-12 form-group">
         <label>Email</label>
         <input type="email" name="" class="form-control"><span>Change</span>
       </div> 
       <div class="col-md-12 col-xs-12 form-group">
         <label>Phone</label>
         <input type="number" name="" class="form-control"><span>Change</span>
       </div>
      </div>

      <div class="col-md-12 col-xs-12 change-passwrd padding0">
        <h3>CHANGE PASSWORD</h3>
       <div class="col-md-12 col-xs-12 form-group">
         <label>Current Password</label>
         <input type="Password" name="" class="form-control">
       </div> 
       <div class="col-md-12 col-xs-12 form-group">
         <label>New Password</label>
         <input type="Password" name="" class="form-control">
       </div>
       <div class="col-md-12 col-xs-12 form-group">
         <label>Confirm Password</label>
         <input type="Password" name="" class="form-control">
       </div>
       <div class="col-md-12 col-xs-12 form-group">
        <button>SAVE</button>
       </div>
      </div>

      <div class="col-md-12 col-xs-12 LinkedAcounts padding0">
        <h3>LINKED ACCOUNTS</h3>
        <div class="col-md-12 col-xs-12">
          <div class="pull-left">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <span>Facebook</span>
          </div>
          <div class="pull-right">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <span>Google</span>
        </div>
        </div>
      </div>

    </div>
    </div>

    <!-- <div class="col-md-6">
    <div *ngIf="allContentData">
      <div *ngFor="let content of allContentData">
          <fs-card [contentData]="content" [contentType]="content.contentType"></fs-card>
      </div>
  </div>
  </div> -->

    <!-- <div class="col-md-6">
      <div *ngIf="allContentData && !isFilteredData">
          <div *ngFor="let content of allContentData">
              <fs-card [contentData]="content" [contentType]="content.contentType"></fs-card>
          </div>
      </div>

      You do not feeds that you are following - Please browse to follow our feed
      
      <div *ngIf="filteredData && isFilteredData">
          <div *ngFor="let content of filteredData" class="fs-mb10 col-md-12 padding0">
            <card-associationdata [assnData]="content.entityObj"> </card-associationdata>
          </div>
      </div>
    </div> -->

   <!--  <div class="col-md-3 padding0">
      <ul class="list-unstyled fs-leadcast" *ngIf="castCrewArray">
        <p>Suggested Celebrities</p>
        <li *ngFor="let celeb of castCrewArray; let i=index">
          <div *ngIf="i<5">
            <div class="col-md-2 padding0">
              <a rel="canonical" [routerLink] = "['/celeb',celeb.slug]"><img src="{{celeb.profilePic}}" alt="image"></a>
            </div>
            <div class="col-md-7 fs-mt5"><span>{{celeb.name}}</span></div>
            <div class="col-md-2 padding0"><button on-click="follow(celeb,i)">follow</button></div>
          </div>
        </li>
      </ul>

    </div> -->

  </div>
</div>




<footer></footer>