        <div class="">
          <div class="">
            <div class="">
                <div class="col-md-6 col-md-offset-3 plr25">
                  <div class="fs-card">
                        <card-associationdata></card-associationdata>
                    <div class="col-md-12 col-xs-12 pull-left padding0">
                      <div class="col-md-5 col-sm-4 col-xs-12 pull-left fs-upcomingpic" [routerLink] = "['/content','up-comming']">
                        <img src="http://content.flikster.com/movie/alludj.png"  alt="image" class="col-md-12 col-xs-12 img-responsive padding0">
                        <span class="glyphicon glyphicon-play-circle fs-glyph-play"></span>
                      </div>
                      <div class="col-md-7 col-sm-8 col-xs-12 pull-left fs-plr10">
                        <div class="col-md-12 col-xs-12 pull-left padding0">
                          <h4 class="fs-mt5 fs-movie-title-info">Duvvada Jagannadham</h4>
                          <p class="fs-movie-info"><span>23 Jun,2017</span><span>|</span><span>2hrs 20min</span><span>|</span><span>U/A</span></p>
                          <p class="fs-movie-info"><span>Telugu</span><span>|</span><span>Romance</span><span>|</span><span>Drama</span></p>
                        </div>
                        <div class="col-md-12 col-xs-12 pull-left padding0 fs-cast">
                        <div class="fs-width45">Cast : </div>
                        <div class="fs-cast-info"><p><span>Allu arjun, </span><span>Pooja Hegde. </span></p>
                        </div>
                          
                        </div>
                        <div class="col-md-12 col-xs-12 pull-left padding0 fs-director">
                          <p><span>Director : </span><span>Harish Shankar</span></p>
                        </div>
                      </div>
                  
                    </div>
                  <div class="col-md-12 col-xs-12 pull-left ">
                        <div class="col-md-6 col-xs-6 pull-left padding0 fs-watch">
                          <button><span class="glyphicon glyphicon-thumbs-up"></span><span class="hidden-xs">Will watch</span><span>[1233]</span></button>
                        </div>
                        <div class="col-md-6 col-xs-6 pull-left padding0 fs-wontwatch">
                          <button><span class="glyphicon glyphicon-thumbs-down"></span><span class="hidden-xs">Wont watch</span><span>[900]</span></button>
                        </div>
                    </div>
        
                    <div class="col-md-12 col-xs-12 pull-left padding0">
                        <card-socialbar [content]="content"></card-socialbar>
                    </div>
                    <div class="col-md-12 padding10">
                    <card-comments></card-comments>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    