.bg-white{
background-color: white;
}


.fs-socialbar {
/*padding-bottom: 14px;
padding-top: 20px;*/
/*padding: 15px 10px 14px;*/
padding: 15px 20px 5px 10px;
/*border-bottom: 1px solid rgb(233, 232, 232);*/
}
.fs-socialbar button{
border: 0;
background-color: transparent;
padding-left: 0;
padding-right: 20px;
color: #949494;
text-transform: capitalize;
/*font-family: "DINLight";*/
/*font-family: open_sansregular;*/
min-width: 90px;
text-align: left;
/*height: 20px;*/
}
.fs-socialbar button img{
	float: left; padding-right: 5px;
}
.fs-socialbar button > span:last-child {
color: #7e7e7e;
float: left; margin-top: 2px;
}
.fs-socialbar button span.glyphicon{
color: #616161; float: left; padding-right: 5px;
}
.padding0{
padding: 0;
}
.fs-likes {
color: #949494;
/*font-family: "open_sansregular";*/
font-size: 14px;
/*font-weight: 100;*/
padding-top: 0;
/*padding-left: 2px;*/
float: left;
/*margin-top: -2px;*/
}
.fs-likes span {
font-size: 14px;
font-weight: bold;
margin-right: 3px; color: #616161;
}
.fs-socialbar > div div.shareDiv {
background: #fff none repeat scroll 0 0;
border: 1px solid #eee;
float: left;
padding: 16px 8px 8px;
position: absolute;
/*width: 420px;*/
width: 340px;
z-index: 1;
top: 27px;
border-radius: 8px;
left: -80px;
}
.fs-socialbar > div div.shareDiv:before{
content: "";
position: absolute;
border: 10px solid transparent;
border-bottom-color: #ccc;
top: -20px;
left: 78px;
}
.fs-socialbar > div div.shareDiv:after{
content: "";
position: absolute;
border: 8px solid transparent;
border-bottom-color: #fff;
top: -16px;
left: 80px;
}
.fs-socialbar > div div.shareDiv ul{
margin-bottom: 0;
}
.fs-socialbar > div div.shareDiv ul .fa{
color: #222;
font-size: 16px;
}
.fs-socialbar > div div.shareDiv ul .fa:hover{
color: rgb(255, 89, 107);
}
.border0{
border:none;
}
.fs-socialbar > div div.sendDiv {
background: #fff none repeat scroll 0 0;
border: 1px solid #eee;
float: left;
padding: 16px 8px 8px;
position: absolute;
width: 250px;
z-index: 1; top: 25px;
}
.fs-socialbar > div div button{
/*border: 1px solid #e3e3e3;*/
border-radius: 16px;
float: right;
/*font-family: "open_sansregular";*/
font-size: 14px;
font-weight: 100;
line-height: 18px;
margin-top: 12px;
padding: 4px;
text-transform: capitalize;
text-align: center;
background-color: rgb(255, 89, 107);
color: #fff;
height: 26px;
}
.fs-socialbar > div {
float: left;
position: relative;
}
.fs-socialbar > div div.shareDiv ul{                
margin-bottom: 0;
}
.fs-socialbar > div div.shareDiv ul li{
float: left;
}
.fs-socialbar > div div.shareDiv ul .fa{                
color: #222;                
font-size: 16px;
}                
.fs-socialbar > div div.shareDiv ul .fa:hover{
color: #FF596B;
}
/*.fs-socialbar > div div.shareDiv {
background: #fff none repeat scroll 0 0;
border: 1px solid #eee;
float: left;
padding: 16px 8px 8px;
position: absolute;
width: 150px;
z-index: 1;
}*/
.fs-socialbar > div div input[type="text"] {
border-radius: 0;
border-width: 0 0 1px;
box-shadow: none;
padding:0;
/*font-family: "open_sansregular";*/
}
.red{
    color: #FF596B;
}

.bookmark{
position: absolute;
right: 10px;
height: 22px;
top: 14px;
cursor: pointer;
}
.SHARE-SOCIAL-ICNS{
	width: 45%;
	float: left;
}
.SHARE-SOCIAL-ICNS li{
	/*min-width: 45px;*/
/*padding: 10px;*/
text-align: center;
margin-bottom: 8px;
}
.SHARE-SOCIAL-ICNS li button{
	    min-width: 30px;
    height: 30px !important;margin-top: 0 !important;
}
.SHARE-SOCIAL-ICNS li button i{ color: #fff !important; }
.SHARE-SOCIAL-ICNS li:last-child a{
padding: 8px;
float: left;
border: 1px solid #ddd;
border-radius: 100%;
background-color: #ddd;
}
.SHARE-SOCIAL-ICNS li a{
	width: 30px;
    height: 30px;
    padding: 4px !important;
}
.SHARE-SOCIAL-ICNS li img{
	height: 18px;
margin: 0 auto; cursor: pointer;
}
.OR{
	width: 8%;
float: left;
height: 110px;
border-left: 1px solid #ccc;
position: relative;
left: 10px;
}
.OR span{
	position: absolute;
top: 43%;
background: #fff;
left: -7px;
}
.SEND{
width: 47%;
	float: left;
}
.SEND input{
	width: 100%;
	border: 1px solid #ccc;
	padding: 8px;
border-radius: 8px;
}
.url{
position: absolute;
float: left;
background: white;
z-index: 2;
padding: 8px;
border: 1px solid #ccc;
border-radius: 8px;
/* display: none; */
}
.url .fa-close{
	float: right;
border: 1px solid #ccc; color: #ccc; cursor: pointer;
border-radius: 100%;
width: 18px;
height: 18px;
text-align: center;
margin-bottom: 20px;
}
.url input{
	border: 1px solid #ccc !important;
padding: 8px !important;
border-radius: 8px !important;
}
.shareDiv-layer{
	background: transparent;
width: 100%;
height: 100%;
float: left;
position: fixed;
z-index: 1;
left: 0;
top: 0;
/*display: none;*/
}
